<footer data-fls-footer class="footer">
	<div class="footer__container">

		<div class="footer__top">
			<h2 class="footer__title">Sound. Presence. Purpose.</h2>
			<div class="footer__text">
				<p>Focused on crafting immersive audio experiences.</p>
				<p>We believe sound should not just be heard—it should move you..</p>
			</div>
			<div class="footer__buttons">
				<a href="#" class="footer__button button button--light">
					<span class="button__text">Aura Pro II</span>
				</a>
				<a href="#" class="footer__button button button--light">
					<span class="button__text">Flow II</span>
				</a>
			</div>
		</div>

		<div class="footer__bottom">
			<a href="#" class="footer__logo logo">
				<div class="logo__picture">
					<img class="logo__image" src="@img/logo.svg" alt="Resonance logo">
				</div>
				<div class="logo__text">Resonance</div>
			</a>
			<div class="footer__info">
				<p class="footer__copyright">© 2025 Resonance. All rights reserved.</p>
				<div class="footer__links">
					<a href="#" class="footer__link footer__link--icon-discord" aria-label="Discord"></a>
					<a href="#" class="footer__link footer__link--icon-x" aria-label="X"></a>
					<a href="#" class="footer__link footer__link--icon-meta" aria-label="Meta"></a>
				</div>
			</div>
		</div>

	</div>
</footer>