<link rel="stylesheet" href="@components/custom/products/products.scss">

<div class="products" data-fls-addtocart>
   <article class="products__item item-products" data-fls-addtocart-product>
      <div class="item-products__labels">
         <a href="#" class="item-products__label item-products__label--sale">Sale <span>50%</span></a>
         <!-- <a href="#" class="item-products__label item-products__label--best">Best Sale</a> -->
      </div>
      <div class="item-products__actions">
         <a href="#" class="item-products__action item-products__action--icon-favorite"></a>
         <a href="#" class="item-products__action item-products__action--icon-eye"></a>
      </div>
      <a href="#" class="item-products__picture">
         <img src="@img/products/apple.jpg" class="item-products__image" alt="Image" data-fls-addtocart-image>
      </a>
      <div class="item-products__body">
         <div class="item-products__content">
            <h3 class="item-products__title">
               <a href="#" class="item-products__link-title">Green Apple</a>
            </h3>
            <div class="item-products__prices">
               <div class="item-products__current">$14.99</div>
               <div class="item-products__old">$20.99</div>
            </div>
            <form data-fls-rating="set" data-fls-rating-value="4" action="#" class="item-products__rating rating">
            </form>
         </div>
         <button type="button" class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"
            data-fls-addtocart-button></button>
      </div>
   </article>
</div>