# Системні та службові файли
.DS_Store
Thumbs.db

# Файли редакторів
.vscode/
.idea/

# Node.js і збірки
node_modules/
dist/
.sass-cache/
.cache/

# Логи
*.log

# Кеш Vite
.vite
.vite/deps

# Google Drive специфічні файли
*~
._*
# Lock файли (різні редактори)
*.lock


