<aside class="subscribe">
   <div class="subscribe__container">
      <div class="subscribe__content">
         <h4 class="subscribe__title">Subcribe our Newsletter</h4>
         <div class="subscribe__text">
            <p>Pellentesque eu nibh eget mauris congue mattis mattis nec tellus. Phasellus imperdiet elit eu magna.</p>
         </div>
      </div>
      <form action="#" class="subscribe__form">
         <input autocomplete="off" type="email" required name="form[]" placeholder="Your email address"
            class="subscribe__input">
         <button type="submit" class="subscribe__button button">Subscribe</button>
      </form>
      <ul class="subscribe__social social">
         <li class="social__item">
            <a href="#" class="social__link social__link--icon-s-facebook"></a>
         </li>
         <li class="social__item">
            <a href="#" class="social__link social__link--icon-s-twitter"></a>
         </li>
         <li class="social__item">
            <a href="#" class="social__link social__link--icon-s-pinterest"></a>
         </li>
         <li class="social__item">
            <a href="#" class="social__link social__link--icon-s-instagram"></a>
         </li>
      </ul>
   </div>
</aside>