.checkbox-rating {
	display: inline-flex;
	align-items: center;
	gap: 8px;
	position: relative;
	// .checkbox-rating__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		&:focus-visible + .checkbox-rating__label {
			outline: 1px solid #000;
		}
		&:checked + .checkbox-rating__label::before {
			background-color: $success;
			border-color: $success;
			color: $white;
		}
	}
	// .checkbox-rating__label
	&__label {
		cursor: pointer;
		position: relative;
		gap: 8px;
		display: inline-flex;
		align-items: center;
		&:before {
			font-family: "iconfont";
			content: "\f119";
			font-size: 13px;
			color: transparent;
			border-radius: 5px;
			text-align: center;
			line-height: 1.2;
			aspect-ratio: 1;
			width: 20px;
			border: 1px solid $grey2;
			transition:
				background-color 0.2s ease,
				border-color 0.2s ease,
				color 0.2s ease;
		}
	}
}

.checkbox-tags {
	cursor: pointer;
	&:has(input:focus-visible) {
		outline: 1px solid $grey9;
		border-radius: 3px;
	}
	&:has(input:checked) {
		.checkbox-tags__text {
			background-color: $success;
			color: $white;
		}
	}
	// .checkbox-tags__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
	}
	// .checkbox-tags__text
	&__text {
		display: block;
		transition: all 0.3s;
		border-radius: 30px;
		background-color: $grey05;
		padding: 6px 16px;
		@include typography("S");
		color: $grey9;
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				background-color: $success;
				color: $white;
			}
		}
	}
}
