<label data-fls-checkbox class="checkbox-tags">
   <input class="checkbox-tags__input" name="form[tags]" type="checkbox">
   <span class="checkbox-tags__text">Healthy</span>
</label>

<label data-fls-checkbox class="checkbox-tags">
   <input class="checkbox-tags__input" name="form[tags]" type="checkbox">
   <span class="checkbox-tags__text">Low fat</span>
</label>

<label data-fls-checkbox class="checkbox-tags">
   <input class="checkbox-tags__input" name="form[tags]" type="checkbox">
   <span class="checkbox-tags__text">Vegetarian</span>
</label>

<label data-fls-checkbox class="checkbox-tags">
   <input class="checkbox-tags__input" name="form[tags]" type="checkbox">
   <span class="checkbox-tags__text">Kid foods</span>
</label>

<label data-fls-checkbox class="checkbox-tags">
   <input class="checkbox-tags__input" name="form[tags]" type="checkbox">
   <span class="checkbox-tags__text">Vitamins</span>
</label>

<label data-fls-checkbox class="checkbox-tags">
   <input class="checkbox-tags__input" name="form[tags]" type="checkbox">
   <span class="checkbox-tags__text">Bread</span>
</label>

<label data-fls-checkbox class="checkbox-tags">
   <input class="checkbox-tags__input" name="form[tags]" type="checkbox">
   <span class="checkbox-tags__text">Meat</span>
</label>

<label data-fls-checkbox class="checkbox-tags">
   <input class="checkbox-tags__input" name="form[tags]" type="checkbox">
   <span class="checkbox-tags__text">Snacks</span>
</label>

<label data-fls-checkbox class="checkbox-tags">
   <input class="checkbox-tags__input" name="form[tags]" type="checkbox">
   <span class="checkbox-tags__text">Tiffin</span>
</label>

<label data-fls-checkbox class="checkbox-tags">
   <input class="checkbox-tags__input" name="form[tags]" type="checkbox">
   <span class="checkbox-tags__text">Launch</span>
</label>

<label data-fls-checkbox class="checkbox-tags">
   <input class="checkbox-tags__input" name="form[tags]" type="checkbox">
   <span class="checkbox-tags__text">Dinner</span>
</label>

<label data-fls-checkbox class="checkbox-tags">
   <input class="checkbox-tags__input" name="form[tags]" type="checkbox">
   <span class="checkbox-tags__text">Breackfast</span>
</label>

<label data-fls-checkbox class="checkbox-tags">
   <input class="checkbox-tags__input" name="form[tags]" type="checkbox">
   <span class="checkbox-tags__text">Fruit</span>
</label>