<!-- <label data-fls-checkbox class="checkbox">
	<input data-error="Помилка" class="checkbox__input" type="checkbox" value="1" name="form[]">
	<span class="checkbox__text">Текст чекбоксу</span>
</label> -->

<label data-fls-checkbox class="checkbox-rating">
	<input class="checkbox-rating__input" type="checkbox" name="form[rating-5]">
	<div class="checkbox-rating__label">
		<div class="checkbox-rating__rating rating rating--static rating--big">
			<div class="rating__items">
				<div class="rating__item rating__item--active"></div>
				<div class="rating__item rating__item--active"></div>
				<div class="rating__item rating__item--active"></div>
				<div class="rating__item rating__item--active"></div>
				<div class="rating__item rating__item--active"></div>
			</div>
			<div class="rating-filter__value">5.0</div>
		</div>
	</div>
</label>
<label data-fls-checkbox class="checkbox-rating">
	<input class="checkbox-rating__input" type="checkbox" name="form[rating-4]">
	<div class="checkbox-rating__label">
		<div class="checkbox-rating__rating rating rating--static rating--big">
			<div class="rating__items">
				<div class="rating__item rating__item--active"></div>
				<div class="rating__item rating__item--active"></div>
				<div class="rating__item rating__item--active"></div>
				<div class="rating__item rating__item--active"></div>
				<div class="rating__item"></div>
			</div>
			<div class="rating-filter__value">4.0 & up</div>
		</div>
	</div>
</label>
<label data-fls-checkbox class="checkbox-rating">
	<input class="checkbox-rating__input" type="checkbox" name="form[rating-5]">
	<div class="checkbox-rating__label">
		<div class="checkbox-rating__rating rating rating--static rating--big">
			<div class="rating__items">
				<div class="rating__item rating__item--active"></div>
				<div class="rating__item rating__item--active"></div>
				<div class="rating__item rating__item--active"></div>
				<div class="rating__item"></div>
				<div class="rating__item"></div>
			</div>
			<div class="rating-filter__value">3.0 & up</div>
		</div>
	</div>
</label>
<label data-fls-checkbox class="checkbox-rating">
	<input class="checkbox-rating__input" type="checkbox" name="form[rating-5]">
	<div class="checkbox-rating__label">
		<div class="checkbox-rating__rating rating rating--static rating--big">
			<div class="rating__items">
				<div class="rating__item rating__item--active"></div>
				<div class="rating__item rating__item--active"></div>
				<div class="rating__item"></div>
				<div class="rating__item"></div>
				<div class="rating__item"></div>
			</div>
			<div class="rating-filter__value">2.0 & up</div>
		</div>
	</div>
</label>
<label data-fls-checkbox class="checkbox-rating">
	<input class="checkbox-rating__input" type="checkbox" name="form[rating-5]">
	<div class="checkbox-rating__label">
		<div class="checkbox-rating__rating rating rating--static rating--big">
			<div class="rating__items">
				<div class="rating__item rating__item--active"></div>
				<div class="rating__item"></div>
				<div class="rating__item"></div>
				<div class="rating__item"></div>
				<div class="rating__item"></div>
			</div>
			<div class="rating-filter__value">1.0 & up</div>
		</div>
	</div>
</label>