<div class="masonry">
	<ul class="masonry__filter filter-masonry">
		<li class="filter-masonry__item"><a href="#" data-fls-masonry-filter-link="*" class="filter-masonry__link">Усі</a></li>
		<li class="filter-masonry__item"><a href="#" data-fls-masonry-filter-link="a" class="filter-masonry__link">Фільтр А</a></li>
		<li class="filter-masonry__item"><a href="#" data-fls-masonry-filter-link="b" class="filter-masonry__link">Фільтр B</a></li>
		<li class="filter-masonry__item"><a href="#" data-fls-masonry-filter-link="c" class="filter-masonry__link">Фільтр C</a></li>
	</ul>
	<div data-fls-masonry class="masonry__items">
		<div data-fls-masonry-item data-fls-masonry-filter="a" class="masonry__item">A</div>
		<div data-fls-masonry-item data-fls-masonry-filter="b" class="masonry__item">B</div>
		<div data-fls-masonry-item data-fls-masonry-filter="c" class="masonry__item">C</div>
	</div>
</div>