:root {
	/* Шрифт за замовчуванням */
	--font-family-base: "Noto Sans", sans-serif;
	/* Шрифт заголовків */
	--font-family-title: "Merriweather", serif;
	/* Розмір шрифту за замовченням (де 16 - розмір шрифту за замовчуванням з макету)  */
	--font-size: 16px;
	/* Основні кольори */
	--color-bg: #F3EFE6; /* основний фон сторінки */
    --color-surface: #CEC5AF; /* секції і блоки */
    --color-text: #393A41; /* основний текст */
    --color-accent: #686945; /* кнопки, активні стани, важливі акценти */
    --color-text-muted: #6F6B63; /* другорядні пояснення, підписи */
    --color-border: #D8D1C3; /* тонкі лінії, рамки, розділювачі */
	/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
}
