:root {
	/* Шрифт за замовчуванням */
	--font-family: "Arial", sans-serif;
	/* Розмір шрифту за замовченням (де 16 - розмір шрифту за замовчуванням з макету)  */
	--font-size: 16px;
	/* Основні кольори */
	--main-color: #000;
	/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
}
