<div class="reviews__container">
   <div class="reviews__block-header block-header block-header--margin">
      <h2 class="block-header__title title">Client Testimonials</h2>
      <div class="block-header__slider-arrows">
         <button type="button" aria-label="Previous slide"
            class="block-header__slider-arrow block-header__slider-arrow--left block-header__slider-arrow--icon-arrow"></button>
         <button type="button" aria-label="Next slide"
            class="block-header__slider-arrow block-header__slider-arrow--right block-header__slider-arrow--icon-arrow"></button>
      </div>
   </div>
   <div class="reviews__slider slider-reviews swiper" data-fls-slider="reviews">
      <div class="slider-reviews__wrapper swiper-wrapper">
         <div class="slider-reviews__slide swiper-slide">
            <article class="item-review item-review--icon-quote">
               <div class="item-review__text">
                  <p>Pellentesque eu nibh eget mauris congue mattis mattis nec tellus. Phasellus imperdiet elit eu
                     magna dictum, bibendum cursus velit sodales. Donec sed neque eget</p>
               </div>
               <div class="item-review__footer">
                  <div class="item-review__author author-review">
                     <figure class="author-review__picture">
                        <img src="@img/reviews/avatar-01.jpg" class="author-review__avatar" alt="Image">
                     </figure>
                     <div class="author-review__body">
                        <h4 class="author-review__title">Robert Fox</h4>
                        <div class="author-review__type">Customer</div>
                     </div>
                  </div>
                  <div class="item-review__rating rating rating--static rating--big">
                     <div class="rating__items">
                        <div class="rating__item rating__item--active"></div>
                        <div class="rating__item rating__item--active"></div>
                        <div class="rating__item rating__item--active"></div>
                        <div class="rating__item rating__item--active"></div>
                        <div class="rating__item"></div>
                     </div>
                  </div>
               </div>
            </article>
         </div>
         <div class="slider-reviews__slide swiper-slide">
            <article class="item-review item-review--icon-quote">
               <div class="item-review__text">
                  <p>Pellentesque eu nibh eget mauris congue mattis mattis nec tellus. Phasellus imperdiet elit eu
                     magna dictum, bibendum cursus velit sodales. Donec sed neque eget</p>
               </div>
               <div class="item-review__footer">
                  <div class="item-review__author author-review">
                     <figure class="author-review__picture">
                        <img src="@img/reviews/avatar-02.jpg" class="author-review__avatar" alt="Image">
                     </figure>
                     <div class="author-review__body">
                        <h4 class="author-review__title">Dianne Russell</h4>
                        <div class="author-review__type">Customer</div>
                     </div>
                  </div>
                  <div class="item-review__rating rating rating--static rating--big">
                     <div class="rating__items">
                        <div class="rating__item rating__item--active"></div>
                        <div class="rating__item rating__item--active"></div>
                        <div class="rating__item rating__item--active"></div>
                        <div class="rating__item rating__item--active"></div>
                        <div class="rating__item rating__item--active"></div>
                     </div>
                  </div>
               </div>
            </article>
         </div>
         <div class="slider-reviews__slide swiper-slide">
            <article class="item-review item-review--icon-quote">
               <div class="item-review__text">
                  <p>Pellentesque eu nibh eget mauris congue mattis mattis nec tellus. Phasellus imperdiet elit eu
                     magna dictum, bibendum cursus velit sodales. Donec sed neque eget</p>
               </div>
               <div class="item-review__footer">
                  <div class="item-review__author author-review">
                     <figure class="author-review__picture">
                        <img src="@img/reviews/avatar-03.jpg" class="author-review__avatar" alt="Image">
                     </figure>
                     <div class="author-review__body">
                        <h4 class="author-review__title">Eleanor Pena</h4>
                        <div class="author-review__type">Customer</div>
                     </div>
                  </div>
                  <div class="item-review__rating rating rating--static rating--big">
                     <div class="rating__items">
                        <div class="rating__item rating__item--active"></div>
                        <div class="rating__item rating__item--active"></div>
                        <div class="rating__item rating__item--active"></div>
                        <div class="rating__item rating__item--active"></div>
                        <div class="rating__item rating__item--active"></div>
                     </div>
                  </div>
               </div>
            </article>
         </div>
      </div>
   </div>
</div>