<div class="header__menu menu">

	<nav class="menu__body">
		<ul class="menu__list">
			<each loop='item in [
					{"href": "#","ancor": "ABOUT"},
					{"href": "#","ancor": "SERVICES"},
					{"href": "#","ancor": "TECHNOLOGIES"},
					{"href": "#","ancor": "HOW TO"}
				]'>
				<if condition="'[[active]]' === '[[item.ancor]]'">
					<li class="menu__item">
						<a href="[[item.href]]" class="menu__link menu__link--active">[[item.ancor]]</a>
					</li>
				</if>
				<else>
					<li class="menu__item">
						<a href="[[item.href]]" class="menu__link">[[item.ancor]]</a>
					</li>
				</else>
			</each>
		</ul>

		<div class="menu__buttons">
			<a href="#" class="menu__button button button--border"><span>CONTACT US</span></a>
			<a href="#" class="menu__button button"><span>JOIN HYDRA</span></a>
		</div>

	</nav>
</div>

<!-- 
<fetch url="@components/layout/menu/menu.json">
	<each loop='item in response'>
	</each>
</fetch>
-->