//<QUANTITY>
// Сніппет (HTML): qa
.quantity {
	display: flex;
	border-radius: 170px;
	border: 1px solid $grey1;
	padding: 8px;
	justify-content: space-between;
	// .quantity__button
	&__button {
		width: 34px;
		flex-shrink: 0;
		aspect-ratio: 1;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 5px;
		color: $grey9;
		background-color: $grey05;
		transition: all 0.3s;
		// .quantity__button--icon-minus
		&--icon-minus {
			font-size: 12px;
			&::before {
				translate: 0 -5px;
			}
		}
		// .quantity__button--icon-plus
		&--icon-plus {
			font-size: 12px;
		}
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				background-color: $successDark;
				color: $white;
			}
		}
	}
	// .quantity__input
	&__input {
		appearance: none;
		margin: 0;
		@include typography("M");
		color: $grey9;
		text-align: center;
		padding-inline: 5px;
		width: 40px;
		@media (max-width: toEm(550)) {
			max-width: 150px;
			flex-grow: 1;
		}
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	input[type="number"] {
		-moz-appearance: textfield;
	}
}
