.product {
	// .product__body
	&__body {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}
	// .product__tabs
	&__tabs {
		// &:not(:last-child) {
		@include adaptiveValue("margin-bottom", 80, 30);
		// }
	}
	// .product__related
	&__related {
		@include adaptiveValue("margin-bottom", 80, 30);
	}
}
//========================================================================================================================================================
.body-product {
	// .body-product__container
	&__container {
		@media (min-width: toEm($tablet)) {
			display: flex;
			align-items: flex-start;
			gap: 24px;
		}
	}
	// .body-product__gallery
	&__gallery {
		flex: 1 1 300px;
		min-width: 0;
		@media (max-width: toEm($tablet)) {
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
	}

	// .body-product__content
	&__content {
		flex: 1 1 300px;
	}
}
.content-product {
	padding-bottom: 25px;
	// .content-product__header
	&__header {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 8px;
		&:not(:last-child) {
			margin-bottom: 12px;
		}
	}
	// .content-product__title
	&__title {
		@include typography("h4", 600);
		color: $grey9;
	}
	// .content-product__label
	&__label {
		padding: 4px 8px;
		@include typography("S");
		border-radius: 4px;
		// .content-product__label--in-stock
		&--in-stock {
			background: rgba(32, 181, 38, 0.2);
			color: $successDark;
		}
	}
	&__info {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
	// .content-product__prices
	&__prices {
		&:not(:last-child) {
			padding-bottom: 20px;
			border-bottom: 1px solid $grey1;
		}
	}
	// .content-product__decripton
	&__decripton {
	}
	// .content-product__actions
	&__actions {
		&:not(:last-child) {
			margin-bottom: 24px;
		}
	}
	// .content-product__navigation
	&__navigation {
	}
}
.info-product {
	display: flex;
	align-items: center;
	gap: 12px;

	// .info-product__wrap
	&__wrap {
		display: flex;
		align-items: center;
		gap: 5px;
		height: 21px;
	}

	// .info-product__rating
	&__rating {
	}

	// .info-product__sku
	&__sku {
		color: $grey6;
		display: flex;
		align-items: center;
		@include typography("S", 500);

		span {
			@include typography("S", 600);
			color: $grey8;
			margin-right: 5px;
		}
		&::before {
			content: "";
			background-color: $grey3;
			border-radius: 50%;
			margin-right: 12px;
			width: 4px;
			aspect-ratio: 1;
		}
	}
}
.prices-product {
	display: flex;
	align-items: center;

	// .prices-product__old
	&__old {
		@include typography("XL");
		color: $grey3;
		margin-right: 4px;
	}
	// .prices-product__current
	&__current {
		color: $successDark;
		@include typography("XXL", 500);
		&:not(:last-child) {
			margin-right: 12px;
		}
	}
	// .prices-product__sale
	&__sale {
		color: $error;
		border-radius: 30px;
		padding: 3px 10px;
		@include typography("S", 500);
		background-color: rgba(234, 75, 72, 0.1);
	}
}
.description-product {
	padding-block: 24px;
	border-bottom: 1px solid $grey1;
	// .description-product__header
	&__header {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 20px;
		justify-content: space-between;
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	// .description-product__brand
	&__brand {
	}
	// .description-product__social
	&__social {
	}
	// .description-product__text
	&__text {
		@include typography("S");
		color: $grey5;
	}
}
.brand-product {
	display: flex;
	align-items: center;
	gap: 8px;
	// .brand-product__label
	&__label {
		@include typography("S");
		color: $grey9;
	}
	// .brand-product__logo
	&__logo {
		padding: 5px;
		aspect-ratio: 1;
		border-radius: 4px;
		transition: border 0.3s;
		border: 1px solid $grey1;
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				border-color: $successDark;
			}
		}
	}

	// .brand-product__image
	&__image {
		filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
.social-product {
	display: flex;
	gap: 8px;
	align-items: center;
	// .social-product__label
	&__label {
		@include typography("S");
		color: $grey9;
	}
	// .social-product__items
	&__items {
	}
}
.actions-product {
	padding-block: 18px;
	border-bottom: 1px solid $grey1;
	display: flex;
	align-items: center;
	gap: 10px;
	@media (max-width: toEm(550)) {
		flex-wrap: wrap;
	}
	// .actions-product__quantity
	&__quantity {
		@media (max-width: toEm(550)) {
			flex-grow: 1;
			order: 1;
		}
	}
	// .actions-product__button
	&__button {
		flex-grow: 1;
		transition: background-color 0.3s;
		display: flex;
		gap: 10px;
		flex-direction: row-reverse;
		justify-content: center;
		align-items: center;
		&::before {
			transition: color 0.3s;
			font-size: 15px;
			content: "\f11d";
			font-family: "iconfont";
		}
		@media (max-width: toEm(550)) {
			order: 3;
			width: 100%;
		}
	}
	// .actions-product__favorite
	&__favorite {
		width: 52px;
		aspect-ratio: 1;
		border-radius: 50%;
		background-color: rgba(32, 181, 38, 0.1);
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 15px;
		color: $successDark;
		flex-shrink: 0;
		transition: all 0.3s;
		&::before {
			font-size: 17px;
		}
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				background-color: $successDark;
				color: $white;
			}
		}
		@media (max-width: toEm(550)) {
			order: 2;
		}
	}
}
.navigation-product {
	display: grid;
	gap: 12px;
	// .navigation-product__item
	&__item {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 5px;
	}
	// .navigation-product__label
	&__label {
		@include typography("S", 500);
		color: $grey9;
	}
	// .navigation-product__tags
	&__tags {
		display: flex;
		flex-wrap: wrap;
		gap: 5px;
	}
	// .navigation-product__link
	&__link {
		@include typography("S");
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				color: $grey9;
				text-decoration: underline;
			}
		}
	}
}

//========================================================================================================================================================
.related-products {
	// .related-products__container
	&__container {
	}
	// .related-products__items
	&__items {
		gap: toRem(24);
	}
}
