<script type="module" src="@components/pages/product/product.js"></script>
<link rel="stylesheet" href="@components/pages/product/product.scss">
<link rel="stylesheet" href="@components/custom/products/products.scss">

<aside data-fls-breadcrumbs class="breadcrumbs breadcrumbs--margin">
   <div class="breadcrumbs__container">
      <ul class="breadcrumbs__list">
         <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link breadcrumbs__link--icon-home"></a>
         </li>
         <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Categories</a>
         </li>
         <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Vegetables</a>
         </li>
         <li class="breadcrumbs__item">
            <span class="breadcrumbs__current">Chinese Cabbage</span>
         </li>
      </ul>
   </div>
   <img src="@img/breadcrumbs/breadcrumbs.jpg" class="breadcrumbs__image" alt="Image">
</aside>

<main class="product">
   <section class="product__body body-product" data-fls-addtocart-product>
      <div class="body-product__container">
         <div class="body-product__gallery gallery-product">
            <div class="gallery-product__main main-gallery-product swiper" data-fls-slider="main">
               <div class="main-gallery-product__wrapper swiper-wrapper">
                  <div class="main-gallery-product__slide swiper-slide">
                     <div class="swiper-zoom-container">
                        <img data-fls-addtocart-image class="main-gallery-product__image"
                           src="@img/product/gallery/01.jpg" alt="Image">
                     </div>
                  </div>
                  <div class="main-gallery-product__slide swiper-slide">
                     <div class="swiper-zoom-container">
                        <img data-fls-addtocart-image class="main-gallery-product__image"
                           src="@img/product/gallery/02.jpg" alt="Image">
                     </div>
                  </div>
                  <div class="main-gallery-product__slide swiper-slide">
                     <div class="swiper-zoom-container">
                        <img data-fls-addtocart-image class="main-gallery-product__image"
                           src="@img/product/gallery/03.jpg" alt="Image">
                     </div>
                  </div>
                  <div class="main-gallery-product__slide swiper-slide">
                     <div class="swiper-zoom-container">
                        <img data-fls-addtocart-image class="main-gallery-product__image"
                           src="@img/product/gallery/04.jpg" alt="Image">
                     </div>
                  </div>
                  <div class="main-gallery-product__slide swiper-slide">
                     <div class="swiper-zoom-container">
                        <img data-fls-addtocart-image class="main-gallery-product__image"
                           src="@img/product/gallery/01.jpg" alt="Image">
                     </div>
                  </div>
               </div>
            </div>
            <div class="gallery-product__thumbs thumbs-gallery-product">
               <div class="thumbs-gallery-product__slider swiper" data-fls-slider="thumbs">
                  <div class="thumbs-gallery-product__wrapper swiper-wrapper">
                     <div class="thumbs-gallery-product__slide swiper-slide">
                        <img class="thumbs-gallery-product__image" src="@img/product/gallery/01.jpg" alt="Image">
                     </div>
                     <div class="thumbs-gallery-product__slide swiper-slide">
                        <img class="thumbs-gallery-product__image" src="@img/product/gallery/02.jpg" alt="Image">
                     </div>
                     <div class="thumbs-gallery-product__slide swiper-slide">
                        <img class="thumbs-gallery-product__image" src="@img/product/gallery/03.jpg" alt="Image">
                     </div>
                     <div class="thumbs-gallery-product__slide swiper-slide">
                        <img class="thumbs-gallery-product__image" src="@img/product/gallery/04.jpg" alt="Image">
                     </div>
                     <div class="thumbs-gallery-product__slide swiper-slide">
                        <img class="thumbs-gallery-product__image" src="@img/product/gallery/01.jpg" alt="Image">
                     </div>
                  </div>
               </div>
               <div class="thumbs-gallery-product__arrows">
                  <button class="thumbs-gallery-product__arrow thumbs-gallery-product__arrow--up"></button>
                  <button class="thumbs-gallery-product__arrow thumbs-gallery-product__arrow--down"></button>
               </div>
            </div>
         </div>
         <div class="body-product__content content-product">
            <div class="content-product__header">
               <h1 class="content-product__title">Chinese Cabbage</h1>
               <div class="content-product__label content-product__label--in-stock">In Stock</div>
            </div>
            <div class="content-product__info info-product">
               <div class="info-product__wrap">
                  <form data-fls-rating="set" data-fls-rating-value="5" action="#"
                     class="info-products__rating rating rating--big">
                  </form>
                  <a href="#" class="rating__quantity">4 Review</a>
               </div>
               <div class="info-product__sku"><span>SKU:</span> 2,51,594</div>
            </div>
            <div class="content-product__prices prices-product">
               <div class="prices-product__old">$48.00</div>
               <div class="prices-product__current">$17.28</div>
               <div class="prices-product__sale">64% Off</div>
            </div>
            <div class="content-product__decripton description-product">
               <div class="description-product__header">
                  <div class="description-product__brand brand-product">
                     <div class="brand-product__label">Brand:</div>
                     <a href="#" class="brand-product__logo">
                        <img class="brand-product__image" src="@img/brands/01.png" alt="Image">
                     </a>
                  </div>
                  <div class="description-product__social social-product">
                     <div class="social-product__label">Share item:</div>
                     <ul class="social-product__items social">
                        <li class="social__item">
                           <a href="#" class="social__link social__link--icon-s-facebook"></a>
                        </li>
                        <li class="social__item">
                           <a href="#" class="social__link social__link--icon-s-twitter"></a>
                        </li>
                        <li class="social__item">
                           <a href="#" class="social__link social__link--icon-s-pinterest"></a>
                        </li>
                        <li class="social__item">
                           <a href="#" class="social__link social__link--icon-s-instagram"></a>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="description-product__text">
                  <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla
                     nibh diam, blandit vel consequat nec, ultrices et ipsum. Nulla varius magna a consequat pulvinar.
                  </p>
               </div>
            </div>
            <div class="content-product__actions actions-product" data-fls-addtocart-quantity>
               <include src="@components/forms/quantity/quantity.html"></include>
               <button type="button" class="actions-product__button button" data-fls-addtocart-button>
                  Add to Cart
               </button>
               <a href="#" class="actions-product__favorite actions-product__favorite--icon-favorite"></a>
            </div>
            <div class="content-product__navigation navigation-product">
               <div class="navigation-product__item">
                  <div class="navigation-product__label">Category:</div>
                  <a href="#" class="navigation-product__link">Vegetables</a>
               </div>
               <div class="navigation-product__item">
                  <div class="navigation-product__label">Tag:</div>
                  <ul class="navigation-product__tags">
                     <li class="navigation-product__tag"><a href="#" class="navigation-product__link">Vegetables</a>
                     </li>
                     <li class="navigation-product__tag"><a href="#" class="navigation-product__link">Healthy</a></li>
                     <li class="navigation-product__tag"><a href="#" class="navigation-product__link">Chinese</a></li>
                     <li class="navigation-product__tag"><a href="#" class="navigation-product__link">Cabbage</a></li>
                     <li class="navigation-product__tag"><a href="#" class="navigation-product__link">Green</a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </section>

   <include src="@components/layout/tabs/tabs.html"></include>

   <section class="product__related related-products">
      <div class="related-products__container">
         <div data-fls-titles
            class="related-products__block-header block-header block-header--margin block-header--center">
            <h2 class="block-header__title title">Related Products</h2>
         </div>
         <div data-fls-addtocart class="related-products__items products">
            <article class="products__item item-products" data-fls-addtocart-product>
               <div class="item-products__labels">
                  <a href="#" class="item-products__label item-products__label--sale">Sale <span>50%</span></a>
               </div>
               <div class="item-products__actions">
                  <a href="#" class="item-products__action item-products__action--icon-favorite"></a>
                  <a href="#" class="item-products__action item-products__action--icon-eye"></a>
               </div>
               <a href="product.html" class="item-products__picture">
                  <img src="@img/products/apple.jpg" class="item-products__image" alt="Image" data-fls-addtocart-image>
               </a>
               <div class="item-products__body">
                  <div class="item-products__content">
                     <h3 class="item-products__title">
                        <a href="product.html" class="item-products__link-title">Green Apple</a>
                     </h3>
                     <div class="item-products__prices">
                        <div class="item-products__current">$14.99</div>
                        <div class="item-products__old"></div>
                     </div>
                     <div data-fls-rating="set" data-fls-rating-value="4" action="#"
                        class="item-products__rating rating">
                     </div>
                  </div>
                  <button type="button" data-fls-addtocart-button
                     class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
               </div>
            </article>
            <article class="products__item item-products" data-fls-addtocart-product>
               <div class="item-products__labels"></div>
               <div class="item-products__actions">
                  <a href="#" class="item-products__action item-products__action--icon-favorite"></a>
                  <a href="#" class="item-products__action item-products__action--icon-eye"></a>
               </div>
               <a href="product.html" class="item-products__picture">
                  <img src="@img/products/cauliflower.jpg" class="item-products__image" alt="Image"
                     data-fls-addtocart-image>
               </a>
               <div class="item-products__body">
                  <div class="item-products__content">
                     <h3 class="item-products__title">
                        <a href="product.html" class="item-products__link-title">Fresh Cauliflower</a>
                     </h3>
                     <div class="item-products__prices">
                        <div class="item-products__current">$14.99</div>
                        <div class="item-products__old"></div>
                     </div>
                     <div data-fls-rating="set" data-fls-rating-value="4" action="#"
                        class="item-products__rating rating">
                     </div>
                  </div>
                  <button type="button" data-fls-addtocart-button
                     class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
               </div>
            </article>
            <article class="products__item item-products" data-fls-addtocart-product>
               <div class="item-products__labels">
               </div>
               <div class="item-products__actions">
                  <a href="#" class="item-products__action item-products__action--icon-favorite"></a>
                  <a href="#" class="item-products__action item-products__action--icon-eye"></a>
               </div>
               <a href="product.html" class="item-products__picture">
                  <img src="@img/products/green-capsicum.jpg" class="item-products__image" alt="Image"
                     data-fls-addtocart-image>
               </a>
               <div class="item-products__body">
                  <div class="item-products__content">
                     <h3 class="item-products__title">
                        <a href="product.html" class="item-products__link-title">Green Capsicum</a>
                     </h3>
                     <div class="item-products__prices">
                        <div class="item-products__current">$14.99</div>
                        <div class="item-products__old"></div>
                     </div>
                     <div data-fls-rating="set" data-fls-rating-value="4" action="#"
                        class="item-products__rating rating">
                     </div>
                  </div>
                  <button type="button" data-fls-addtocart-button
                     class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
               </div>
            </article>
            <article class="products__item item-products" data-fls-addtocart-product>
               <div class="item-products__labels"></div>
               <div class="item-products__actions">
                  <a href="#" class="item-products__action item-products__action--icon-favorite"></a>
                  <a href="#" class="item-products__action item-products__action--icon-eye"></a>
               </div>
               <a href="product.html" class="item-products__picture">
                  <img src="@img/products/ladies-finger.jpg" class="item-products__image" alt="Image"
                     data-fls-addtocart-image>
               </a>
               <div class="item-products__body">
                  <div class="item-products__content">
                     <h3 class="item-products__title">
                        <a href="product.html" class="item-products__link-title">Ladies Finger</a>
                     </h3>
                     <div class="item-products__prices">
                        <div class="item-products__current">$14.99</div>
                        <div class="item-products__old"></div>
                     </div>
                     <div data-fls-rating="set" data-fls-rating-value="4" action="#"
                        class="item-products__rating rating">
                     </div>
                  </div>
                  <button type="button" data-fls-addtocart-button
                     class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
               </div>
            </article>
         </div>
      </div>
   </section>
</main>