<div class="partners__container">
   <ul class="partners__list">
      <li class="partners__item">
         <a href="#" class="partners__link">
            <img src="@img/partners/01.svg" alt="Image">
         </a>
      </li>
      <li class="partners__item">
         <a href="#" class="partners__link">
            <img src="@img/partners/02.svg" alt="Image">
         </a>
      </li>
      <li class="partners__item">
         <a href="#" class="partners__link">
            <img src="@img/partners/03.svg" alt="Image">
         </a>
      </li>
      <li class="partners__item">
         <a href="#" class="partners__link">
            <img src="@img/partners/04.svg" alt="Image">
         </a>
      </li>
      <li class="partners__item">
         <a href="#" class="partners__link">
            <img src="@img/partners/05.svg" alt="Image">
         </a>
      </li>
      <li class="partners__item">
         <a href="#" class="partners__link">
            <img src="@img/partners/06.svg" alt="Image">
         </a>
      </li>
   </ul>
</div>