<footer data-fls-footer class="footer">
	<div class="footer__container">
		<div class="footer__top">
			<ul class="footer__body">
				<li class="footer__item">
					<div class="footer__logo">
						<img src="@img/logo.svg" alt="Logo">
					</div>
				</li>
				<li class="footer__item">
					<ul class="footer__column">
						<li><a class="footer__link" href="#">ABOUT</a></li>
						<li><a class="footer__link" href="#">SERVICES</a></li>
						<li><a class="footer__link" href="#">TECHNOLOGIES</a></li>
						<li><a class="footer__link" href="#">HOW TO</a></li>
						<li><a class="footer__link" href="#">JOIN HYDRA</a></li>
					</ul>
				</li>
				<li class="footer__item">
					<ul class="footer__column">
						<li><a class="footer__link" href="#">F.A.Q</a></li>
						<li><a class="footer__link" href="#">SITEMAP</a></li>
						<li><a class="footer__link" href="#">CONDITIONS</a></li>
						<li><a class="footer__link" href="#">LICENSES</a></li>
					</ul>
				</li>
				<li class="footer__social">
					<h3 class="footer__label">SOCIALIZE WITH HYDRA</h3>
					<ul class="footer__icons">
						<li class="footer__wrap">
							<a class="footer__icon footer__icon--icon-facebook" href="#" target="_blank"></a>
						</li>
						<li class="footer__wrap">
							<a class="footer__icon footer__icon--icon-twitter" href="#" target="_blank"></a>
						</li>
						<li class="footer__wrap">
							<a class="footer__icon footer__icon--icon-linkedin" href="#" target="_blank"></a>
						</li>
						<li class="footer__wrap">
							<a class="footer__icon footer__icon--icon-youtube" href="#" target="_blank"></a>
						</li>
						<li class="footer__wrap">
							<a class="footer__icon footer__icon--icon-instagram" href="#" target="_blank"></a>
						</li>
						<li class="footer__wrap">
							<a class="footer__icon footer__icon--icon-pinterest" href="#" target="_blank"></a>
						</li>
					</ul>
					<a class="footer__button button button--maxi" href="#">BUILD YOUR WORLD</a>
				</li>
			</ul>
		</div>

		<div class="footer__bottom">
			<span>2023 © HYDRA LANDING PAGE</span><span>BY ZINE. E. FALOUTI</span><span>ALL RIGHTS RESERVED</span>
		</div>
	</div>
</footer>