<main data-fls-techspecs class="techspecs">
   <section class="techspecs__hero">
      <div class="techspecs__container">
         <h1 class="techspecs__title">Color</h1>
         <div data-fls-slider class="techspecs__slider swiper" data-slider="techspecs">
            <div class="techspecs__wrapper swiper-wrapper">
               <div class="techspecs__slide swiper-slide" data-color="#D8B74B">
                  <img class="techspecs__image" src="@img/techspecs/image-desktop.webp" alt="Image">
               </div>
               <div class="techspecs__slide swiper-slide" data-color="#94915b">
                  <img class="techspecs__image" src="@img/techspecs/image-desktop.webp" alt="Image">
               </div>
               <div class="techspecs__slide swiper-slide" data-color="#883D39">
                  <img class="techspecs__image" src="@img/techspecs/image-desktop.webp" alt="Image">
               </div>
            </div>
            <div class="techspecs__pagination swiper-pagination"></div>
         </div>
      </div>
   </section>
</main>
