<script type="module" src="@components/pages/index/index.js"></script>
<link rel="stylesheet" href="@components/pages/index/index.scss">
<link rel="stylesheet" href="@components/custom/titles/titles.scss">

<main class="page">
	<div class="page__hero hero">
		<div class="hero__container">
			<article class="hero__item item-hero">
				<a href="#" class="item-hero__link">
					<div class="item-hero__body type-1-hero-item">
						<h1 class="type-1-hero-item__title">Fresh & Healthy <br> Organic Food</h1>
						<div class="type-1-hero-item__info">
							<div class="type-1-hero-item__sale">Sale up to <span>30% OFF</span></div>
							<div class="type-1-hero-item__label">Free shipping on all your order.</div>
						</div>
						<div class="type-1-hero-item__button button button--arrow button--arrow--icon-arrow button--white">
							Shop now</div>
					</div>
					<div class="item-hero__picture item-hero__picture--decor">
						<img src="@img/home/hero/image-01.jpg" class="item-hero__image" alt="Image">
					</div>
				</a>
			</article>
			<article class="hero__item item-hero">
				<a href="#" class="item-hero__link">
					<div class="item-hero__body type-2-hero-item">
						<div class="type-2-hero-item__label">Summer Sale</div>
						<h2 class="type-2-hero-item__title">75% OFF</h2>
						<div class="type-2-hero-item__text">
							<p>Only Fruit & Vegetable</p>
						</div>
						<div class="type-2-hero-item__button link-arrow link-arrow--icon-arrow">Shop now</div>
					</div>
					<div class="item-hero__picture">
						<img src="@img/home/hero/image-02.jpg" class="item-hero__image" alt="Image">
					</div>
				</a>
			</article>
			<article class="hero__item item-hero">
				<a href="#" class="item-hero__link">
					<div class="item-hero__body type-3-hero-item">
						<div class="type-3-hero-item__label">Best Deal</div>
						<h2 class="type-3-hero-item__title">Special Products Deal of the Month</h2>
						<div class="type-3-hero-item__button link-arrow link-arrow--icon-arrow">Shop now</div>
					</div>
					<div class="item-hero__picture">
						<img src="@img/home/hero/image-03.jpg" class="item-hero__image" alt="Image">
					</div>
				</a>
			</article>
		</div>
	</div>
	<div class="page__advantages advantages">
		<div class="advantages__container">
			<div class="advantages__items">
				<article class="advantages__item item-advantage">
					<figure class="item-advantage__picture">
						<img class="item-advantage__icon" src="@img/home/advantages/01.svg" alt="Image">
					</figure>
					<div class="item-advantage__body">
						<h4 class="item-advantage__title">Free Shipping</h4>
						<p class="item-advantage__text">Free shipping on all your order</p>
					</div>
				</article>
				<article class="advantages__item item-advantage">
					<figure class="item-advantage__picture">
						<img class="item-advantage__icon" src="@img/home/advantages/02.svg" alt="Image">
					</figure>
					<div class="item-advantage__body">
						<h4 class="item-advantage__title">Customer Support 24/7</h4>
						<p class="item-advantage__text">Instant access to Support</p>
					</div>
				</article>
				<article class="advantages__item item-advantage">
					<figure class="item-advantage__picture">
						<img class="item-advantage__icon" src="@img/home/advantages/03.svg" alt="Image">
					</figure>
					<div class="item-advantage__body">
						<h4 class="item-advantage__title">100% Secure Payment</h4>
						<p class="item-advantage__text">We ensure your money is save</p>
					</div>
				</article>
				<article class="advantages__item item-advantage">
					<figure class="item-advantage__picture">
						<img class="item-advantage__icon" src="@img/home/advantages/04.svg" alt="Image">
					</figure>
					<div class="item-advantage__body">
						<h4 class="item-advantage__title">Money-Back Guarantee</h4>
						<p class="item-advantage__text">30 Days Money-Back Guarantee</p>
					</div>
				</article>
			</div>
		</div>
	</div>
	<section class="page__popular popular">
		<div class="popular__container">
			<div class="popular__header block-header block-header--margin">
				<h2 class="block-header__title title">Popular Categories</h2>
				<a href="#" class="block-header__link link-arrow link-arrow--icon-arrow">View All</a>
			</div>
			<div class="popular__items">
				<article class="popular__item item-category">
					<a href="#" class="item-category__link">
						<figure class="item-category__picture">
							<img src="@img/categories/01.jpg" class="item-category__image" alt="Image">
						</figure>
						<h5 class="item-category__name">Fresh Fruit</h5>
					</a>
				</article>
				<article class="popular__item item-category">
					<a href="#" class="item-category__link">
						<figure class="item-category__picture">
							<img src="@img/categories/02.jpg" class="item-category__image" alt="Image">
						</figure>
						<h5 class="item-category__name">Fresh Vegetables</h5>
					</a>
				</article>
				<article class="popular__item item-category">
					<a href="#" class="item-category__link">
						<figure class="item-category__picture">
							<img src="@img/categories/03.jpg" class="item-category__image" alt="Image">
						</figure>
						<h5 class="item-category__name">Meat & Fish</h5>
					</a>
				</article>
				<article class="popular__item item-category">
					<a href="#" class="item-category__link">
						<figure class="item-category__picture">
							<img src="@img/categories/04.jpg" class="item-category__image" alt="Image">
						</figure>
						<h5 class="item-category__name">Snacks</h5>
					</a>
				</article>
				<article class="popular__item item-category">
					<a href="#" class="item-category__link">
						<figure class="item-category__picture">
							<img src="@img/categories/05.jpg" class="item-category__image" alt="Image">
						</figure>
						<h5 class="item-category__name">Beverages</h5>
					</a>
				</article>
				<article class="popular__item item-category">
					<a href="#" class="item-category__link">
						<figure class="item-category__picture">
							<img src="@img/categories/06.jpg" class="item-category__image" alt="Image">
						</figure>
						<h5 class="item-category__name">Beauty & Health</h5>
					</a>
				</article>
				<article class="popular__item item-category">
					<a href="#" class="item-category__link">
						<figure class="item-category__picture">
							<img src="@img/categories/07.jpg" class="item-category__image" alt="Image">
						</figure>
						<h5 class="item-category__name">Bread & Bakery</h5>
					</a>
				</article>
				<article class="popular__item item-category">
					<a href="#" class="item-category__link">
						<figure class="item-category__picture">
							<img src="@img/categories/08.jpg" class="item-category__image" alt="Image">
						</figure>
						<h5 class="item-category__name">Baking Needs</h5>
					</a>
				</article>
				<article class="popular__item item-category">
					<a href="#" class="item-category__link">
						<figure class="item-category__picture">
							<img src="@img/categories/09.jpg" class="item-category__image" alt="Image">
						</figure>
						<h5 class="item-category__name">Cooking</h5>
					</a>
				</article>
				<article class="popular__item item-category">
					<a href="#" class="item-category__link">
						<figure class="item-category__picture">
							<img src="@img/categories/10.jpg" class="item-category__image" alt="Image">
						</figure>
						<h5 class="item-category__name">Diabetic Food</h5>
					</a>
				</article>
				<article class="popular__item item-category">
					<a href="#" class="item-category__link">
						<figure class="item-category__picture">
							<img src="@img/categories/11.jpg" class="item-category__image" alt="Image">
						</figure>
						<h5 class="item-category__name">Dish Detergents</h5>
					</a>
				</article>
				<article class="popular__item item-category">
					<a href="#" class="item-category__link">
						<figure class="item-category__picture">
							<img src="@img/categories/12.jpg" class="item-category__image" alt="Image">
						</figure>
						<h5 class="item-category__name">Oil</h5>
					</a>
				</article>
			</div>
		</div>
	</section>
	<section class="page__popular-products popular-products">
		<div class="popular-products__container">
			<div class="popular-products__header block-header block-header--margin">
				<h2 class="block-header__title title">Popular Products</h2>
				<a href="#" class="block-header__link link-arrow link-arrow--icon-arrow">View All</a>
			</div>
			<div class="products" data-fls-products data-fls-addtocart>
				<article class="products__item item-products" data-fls-addtocart-product>
					<div class="item-products__labels">
						<a href="#" class="item-products__label item-products__label--sale">Sale
							<span>50%</span></a>
					</div>
					<div class="item-products__actions">
						<a href="#" class="item-products__action item-products__action--icon-favorite"></a>
						<a href="#" class="item-products__action item-products__action--icon-eye"></a>
					</div>
					<a href="#" class="item-products__picture">
						<img src="@img/products/apple.jpg" class="item-products__image" alt="Image" data-fls-addtocart-image>
					</a>
					<div class="item-products__body">
						<div class="item-products__content">
							<h3 class="item-products__title">
								<a href="#" class="item-products__link-title">Green Apple</a>
							</h3>
							<div class="item-products__prices">
								<div class="item-products__current">$14.99</div>
								<div class="item-products__old">$20.99</div>
							</div>
							<form data-fls-rating="set" data-fls-rating-value="4" action="#"
								class="item-products__rating rating">
							</form>
						</div>
						<button type="button" data-fls-addtocart-button
							class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
					</div>
				</article>
				<article class="products__item item-products" data-fls-addtocart-product>
					<div class="item-products__labels">
					</div>
					<div class="item-products__actions">
						<a href="#" class="item-products__action item-products__action--icon-favorite"></a>
						<a href="#" class="item-products__action item-products__action--icon-eye"></a>
					</div>
					<a href="#" class="item-products__picture">
						<img src="@img/products/malta.jpg" class="item-products__image" alt="Image" data-fls-addtocart-image>
					</a>
					<div class="item-products__body">
						<div class="item-products__content">
							<h3 class="item-products__title">
								<a href="#" class="item-products__link-title">Green Apple</a>
							</h3>
							<div class="item-products__prices">
								<div class="item-products__current">$14.99</div>
								<div class="item-products__old">$20.99</div>
							</div>
							<form data-fls-rating="set" data-fls-rating-value="4" action="#"
								class="item-products__rating rating">
							</form>
						</div>
						<button type="button" data-fls-addtocart-button
							class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
					</div>
				</article>
				<article class="products__item item-products" data-fls-addtocart-product>
					<div class="item-products__labels">
					</div>
					<div class="item-products__actions">
						<a href="#" class="item-products__action item-products__action--icon-favorite"></a>
						<a href="#" class="item-products__action item-products__action--icon-eye"></a>
					</div>
					<a href="#" class="item-products__picture">
						<img src="@img/products/cabbage.jpg" class="item-products__image" alt="Image"
							data-fls-addtocart-image>
					</a>
					<div class="item-products__body">
						<div class="item-products__content">
							<h3 class="item-products__title">
								<a href="#" class="item-products__link-title">Green Apple</a>
							</h3>
							<div class="item-products__prices">
								<div class="item-products__current">$14.99</div>
								<div class="item-products__old">$20.99</div>
							</div>
							<form data-fls-rating="set" data-fls-rating-value="4" action="#"
								class="item-products__rating rating">
							</form>
						</div>
						<button type="button" data-fls-addtocart-button
							class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
					</div>
				</article>
				<article class="products__item item-products" data-fls-addtocart-product>
					<div class="item-products__labels">
					</div>
					<div class="item-products__actions">
						<a href="#" class="item-products__action item-products__action--icon-favorite"></a>
						<a href="#" class="item-products__action item-products__action--icon-eye"></a>
					</div>
					<a href="#" class="item-products__picture">
						<img src="@img/products/lettuce.jpg" class="item-products__image" alt="Image"
							data-fls-addtocart-image>
					</a>
					<div class="item-products__body">
						<div class="item-products__content">
							<h3 class="item-products__title">
								<a href="#" class="item-products__link-title">Green Apple</a>
							</h3>
							<div class="item-products__prices">
								<div class="item-products__current">$14.99</div>
								<div class="item-products__old">$20.99</div>
							</div>
							<form data-fls-rating="set" data-fls-rating-value="4" action="#"
								class="item-products__rating rating">
							</form>
						</div>
						<button type="button" data-fls-addtocart-button
							class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
					</div>
				</article>
				<article class="products__item item-products" data-fls-addtocart-product>
					<div class="item-products__labels">
					</div>
					<div class="item-products__actions">
						<a href="#" class="item-products__action item-products__action--icon-favorite"></a>
						<a href="#" class="item-products__action item-products__action--icon-eye"></a>
					</div>
					<a href="#" class="item-products__picture">
						<img src="@img/products/eggplant.jpg" class="item-products__image" alt="Image"
							data-fls-addtocart-image>
					</a>
					<div class="item-products__body">
						<div class="item-products__content">
							<h3 class="item-products__title">
								<a href="#" class="item-products__link-title">Green Apple</a>
							</h3>
							<div class="item-products__prices">
								<div class="item-products__current">$14.99</div>
								<div class="item-products__old">$20.99</div>
							</div>
							<form data-fls-rating="set" data-fls-rating-value="4" action="#"
								class="item-products__rating rating">
							</form>
						</div>
						<button type="button" data-fls-addtocart-button
							class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
					</div>
				</article>
				<article class="products__item item-products" data-fls-addtocart-product>
					<div class="item-products__labels">
					</div>
					<div class="item-products__actions">
						<a href="#" class="item-products__action item-products__action--icon-favorite"></a>
						<a href="#" class="item-products__action item-products__action--icon-eye"></a>
					</div>
					<a href="#" class="item-products__picture">
						<img src="@img/products/potatoes.jpg" class="item-products__image" alt="Image"
							data-fls-addtocart-image>
					</a>
					<div class="item-products__body">
						<div class="item-products__content">
							<h3 class="item-products__title">
								<a href="#" class="item-products__link-title">Green Apple</a>
							</h3>
							<div class="item-products__prices">
								<div class="item-products__current">$14.99</div>
								<div class="item-products__old">$20.99</div>
							</div>
							<form data-fls-rating="set" data-fls-rating-value="4" action="#"
								class="item-products__rating rating">
							</form>
						</div>
						<button type="button" data-fls-addtocart-button
							class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
					</div>
				</article>
				<article class="products__item item-products" data-fls-addtocart-product>
					<div class="item-products__labels">
					</div>
					<div class="item-products__actions">
						<a href="#" class="item-products__action item-products__action--icon-favorite"></a>
						<a href="#" class="item-products__action item-products__action--icon-eye"></a>
					</div>
					<a href="#" class="item-products__picture">
						<img src="@img/products/corn.jpg" class="item-products__image" alt="Image" data-fls-addtocart-image>
					</a>
					<div class="item-products__body">
						<div class="item-products__content">
							<h3 class="item-products__title">
								<a href="#" class="item-products__link-title">Green Apple</a>
							</h3>
							<div class="item-products__prices">
								<div class="item-products__current">$14.99</div>
								<div class="item-products__old">$20.99</div>
							</div>
							<form data-fls-rating="set" data-fls-rating-value="4" action="#"
								class="item-products__rating rating">
							</form>
						</div>
						<button type="button" data-fls-addtocart-button
							class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></buttonм>
					</div>
				</article>
				<article class="products__item item-products" data-fls-addtocart-product>
					<div class="item-products__labels">
					</div>
					<div class="item-products__actions">
						<a href="#" class="item-products__action item-products__action--icon-favorite"></a>
						<a href="#" class="item-products__action item-products__action--icon-eye"></a>
					</div>
					<a href="#" class="item-products__picture">
						<img src="@img/products/cauliflower.jpg" class="item-products__image" alt="Image"
							data-fls-addtocart-image>
					</a>
					<div class="item-products__body">
						<div class="item-products__content">
							<h3 class="item-products__title">
								<a href="#" class="item-products__link-title">Green Apple</a>
							</h3>
							<div class="item-products__prices">
								<div class="item-products__current">$14.99</div>
								<div class="item-products__old">$20.99</div>
							</div>
							<form data-fls-rating="set" data-fls-rating-value="4" action="#"
								class="item-products__rating rating">
							</form>
						</div>
						<button type="button" data-fls-addtocart-button
							class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
					</div>
				</article>
				<article class="products__item item-products" data-fls-addtocart-product>
					<div class="item-products__labels">
					</div>
					<div class="item-products__actions">
						<a href="#" class="item-products__action item-products__action--icon-favorite"></a>
						<a href="#" class="item-products__action item-products__action--icon-eye"></a>
					</div>
					<a href="#" class="item-products__picture">
						<img src="@img/products/green-capsicum.jpg" class="item-products__image" alt="Image"
							data-fls-addtocart-image>
					</a>
					<div class="item-products__body">
						<div class="item-products__content">
							<h3 class="item-products__title">
								<a href="#" class="item-products__link-title">Green Apple</a>
							</h3>
							<div class="item-products__prices">
								<div class="item-products__current">$14.99</div>
								<div class="item-products__old">$20.99</div>
							</div>
							<form data-fls-rating="set" data-fls-rating-value="4" action="#"
								class="item-products__rating rating">
							</form>
						</div>
						<button type="button" data-fls-addtocart-button
							class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
					</div>
				</article>
				<article class="products__item item-products" data-fls-addtocart-product>
					<div class="item-products__labels">
					</div>
					<div class="item-products__actions">
						<a href="#" class="item-products__action item-products__action--icon-favorite"></a>
						<a href="#" class="item-products__action item-products__action--icon-eye"></a>
					</div>
					<a href="#" class="item-products__picture">
						<img src="@img/products/green-chili.jpg" class="item-products__image" alt="Image"
							data-fls-addtocart-image>
					</a>
					<div class="item-products__body">
						<div class="item-products__content">
							<h3 class="item-products__title">
								<a href="#" class="item-products__link-title">Green Apple</a>
							</h3>
							<div class="item-products__prices">
								<div class="item-products__current">$14.99</div>
								<div class="item-products__old">$20.99</div>
							</div>
							<form data-fls-rating="set" data-fls-rating-value="4" action="#"
								class="item-products__rating rating">
							</form>
						</div>
						<button type="button" data-fls-addtocart-button
							class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
					</div>
				</article>
			</div>
		</div>
	</section>
	<div class="page__sale sale">
		<div class="sale__container">
			<article class="sale__item item-sale">
				<a href="#" class="item-sale__link">
					<div class="item-sale__body">
						<div class="item-sale__label">Best Deals</div>
						<h4 class="item-sale__title">Sale of the Month</h4>
						<div data-fls-countdown data-coundown="2025-12-31T23:59:59" class="item-sale__countdown countdown">
							<div class="countdown__timer">
								<div class="countdown__digits">
									<span>00</span>
									<span>00</span>
									<span>00</span>
									<span>00</span>
								</div>
								<div class="countdown__labels">
									<span>Days</span>
									<span>Hours</span>
									<span>Mins</span>
									<span>Secs</span>
								</div>
							</div>
						</div>
						<div class="item-sale__button button button--middle button--white button--arrow button--icon-arrow">
							Shop Now</div>
					</div>
					<img class="item-sale__image" src="@img/sale/01.jpg" alt="Image">
				</a>
			</article>
			<article class="sale__item item-sale">
				<a href="#" class="item-sale__link">
					<div class="item-sale__body">
						<div class="item-sale__label">85% Fat Free</div>
						<h4 class="item-sale__title">Low-Fat Meat</h4>
						<div class="item-sale__info info-sale">
							<div class="info-sale__label">Started at</div>
							<div class="info-sale__value info-sale__value--orange">$79.99</div>
						</div>
						<div class="item-sale__button button button--middle button--white button--arrow button--icon-arrow">
							Shop Now</div>
					</div>
					<img class="item-sale__image" src="@img/sale/02.jpg" alt="Image">
				</a>
			</article>
			<article class="sale__item item-sale item-sale--black">
				<a href="#" class="item-sale__link">
					<div class="item-sale__body">
						<div class="item-sale__label">Summer Sale</div>
						<h4 class="item-sale__title">100% Fresh Fruit</h4>
						<div class="item-sale__info info-sale">
							<div class="info-sale__label">Up to</div>
							<div class="info-sale__value info-sale__value--black-label">64% OFF</div>
						</div>
						<div class="item-sale__button button button--middle button--white button--arrow button--icon-arrow">
							Shop Now</div>
					</div>
					<img class="item-sale__image" src="@img/sale/03.jpg" alt="Image">
				</a>
			</article>
		</div>
	</div>
	<section class="page__hot hot">
		<div class="hot__container">
			<div class="hot__header block-header block-header--margin">
				<h2 class="block-header__title title">Hot Deals</h2>
				<a href="#" class="block-header__link link-arrow link-arrow--icon-arrow">View All</a>
			</div>
			<div class="products" data-fls-products data-fls-addtocart>
				<article class="products__item item-products item-products--big" data-fls-addtocart-product>
					<div class="item-products__header">
						<div class="item-products__labels">
							<a href="#" class="item-products__label item-products__label--sale">Sale <span>50%</span></a>
							<a href="#" class="item-products__label item-products__label--best">Best Sale</a>
						</div>
						<div class="item-products__actions"></div>
						<a href="#" class="item-products__picture">
							<img data-speed="5000" src="@img/products/apple-mid.jpg" class="item-products__image" alt="Image"
								data-fls-addtocart-image>
						</a>
						<div class="item-products__line-actions line-actions">
							<a data-fls-dynamic=".item-products__actions, 500" href="#"
								class="line-actions__item line-actions__item--icon-favorite"></a>
							<button type="button" data-fls-addtocart-button data-fls-button
								class="line-actions__add-to-cart add-to-cart button button--middle button--icon-cart">
								<span>Add to Cart</span>
							</button>
							<a data-fls-dynamic=".item-products__actions, 500" href="#"
								class="line-actions__item line-actions__item--icon-eye"></a>
						</div>
					</div>
					<div class="item-products__body">
						<div class="item-products__content">
							<h3 class="item-products__title">
								<a href="#" class="item-products__link-title">Green Apple</a>
							</h3>
							<div class="item-products__prices">
								<div class="item-products__current">$14.99</div>
								<div class="item-products__old">$20.99</div>
							</div>
							<form data-fls-rating="set" data-fls-rating-value="5" action="#"
								class="item-products__rating rating rating--big">
								<div class="rating__quantity">(524 Feedback)</div>
							</form>
						</div>
						<div data-fls-countdown data-coundown="2025-11-31T23:59:59"
							class="item-products__countdown countdown countdown--mini">
							<div class="countdown__label">Hurry up! Offer ends In:</div>
							<div class="countdown__timer">
								<div class="countdown__digits">
									<span>00</span>
									<span>00</span>
									<span>00</span>
									<span>00</span>
								</div>
								<div class="countdown__labels">
									<span>Days</span>
									<span>Hours</span>
									<span>Mins</span>
									<span>Secs</span>
								</div>
							</div>
						</div>
					</div>
				</article>
				<article class="products__item item-products" data-fls-addtocart-product>
					<div class="item-products__labels">
					</div>
					<div class="item-products__actions">
						<a href="#" class="item-products__action item-products__action--icon-favorite"></a>
						<a href="#" class="item-products__action item-products__action--icon-eye"></a>
					</div>
					<a href="#" class="item-products__picture">
						<img src="@img/products/cabbage.jpg" class="item-products__image" alt="Image"
							data-fls-addtocart-image>
					</a>
					<div class="item-products__body">
						<div class="item-products__content">
							<h3 class="item-products__title">
								<a href="#" class="item-products__link-title">Chinese cabbage</a>
							</h3>
							<div class="item-products__prices">
								<div class="item-products__current">$12.00</div>
								<div class="item-products__old"></div>
							</div>
							<form data-fls-rating="set" data-fls-rating-value="4" action="#"
								class="item-products__rating rating">
							</form>
						</div>
						<button type="button" data-fls-addtocart-button
							class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
					</div>
				</article>
				<article class="products__item item-products" data-fls-addtocart-product>
					<div class="item-products__labels">
					</div>
					<div class="item-products__actions">
						<a href="#" class="item-products__action item-products__action--icon-favorite"></a>
						<a href="#" class="item-products__action item-products__action--icon-eye"></a>
					</div>
					<a href="#" class="item-products__picture">
						<img src="@img/products/lettuce.jpg" class="item-products__image" alt="Image"
							data-fls-addtocart-image>
					</a>
					<div class="item-products__body">
						<div class="item-products__content">
							<h3 class="item-products__title">
								<a href="#" class="item-products__link-title">Green Lettuce</a>
							</h3>
							<div class="item-products__prices">
								<div class="item-products__current">$9.00</div>
								<div class="item-products__old"></div>
							</div>
							<form data-fls-rating="set" data-fls-rating-value="4" action="#"
								class="item-products__rating rating">
							</form>
						</div>
						<button type="button" data-fls-addtocart-button
							class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
					</div>
				</article>
				<article class="products__item item-products" data-fls-addtocart-product>
					<div class="item-products__labels">
					</div>
					<div class="item-products__actions">
						<a href="#" class="item-products__action item-products__action--icon-favorite"></a>
						<a href="#" class="item-products__action item-products__action--icon-eye"></a>
					</div>
					<a href="#" class="item-products__picture">
						<img src="@img/products/eggplant.jpg" class="item-products__image" alt="Image"
							data-fls-addtocart-image>
					</a>
					<div class="item-products__body">
						<div class="item-products__content">
							<h3 class="item-products__title">
								<a href="#" class="item-products__link-title">Eggplant</a>
							</h3>
							<div class="item-products__prices">
								<div class="item-products__current">$34.00</div>
								<div class="item-products__old"></div>
							</div>
							<form data-fls-rating="set" data-fls-rating-value="4" action="#"
								class="item-products__rating rating">
							</form>
						</div>
						<button type="button" data-fls-addtocart-button
							class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
					</div>
				</article>
				<article class="products__item item-products" data-fls-addtocart-product>
					<div class="item-products__labels">
					</div>
					<div class="item-products__actions">
						<a href="#" class="item-products__action item-products__action--icon-favorite"></a>
						<a href="#" class="item-products__action item-products__action--icon-eye"></a>
					</div>
					<a href="#" class="item-products__picture">
						<img src="@img/products/cauliflower.jpg" class="item-products__image" alt="Image"
							data-fls-addtocart-image>
					</a>
					<div class="item-products__body">
						<div class="item-products__content">
							<h3 class="item-products__title">
								<a href="#" class="item-products__link-title">Fresh Cauliflower</a>
							</h3>
							<div class="item-products__prices">
								<div class="item-products__current">$12.00</div>
								<div class="item-products__old"></div>
							</div>
							<form data-fls-rating="set" data-fls-rating-value="4" action="#"
								class="item-products__rating rating">
							</form>
						</div>
						<button type="button" data-fls-addtocart-button
							class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
					</div>
				</article>
				<article class="products__item item-products" data-fls-addtocart-product>
					<div class="item-products__labels">
						<a href="#" class="item-products__label item-products__label--sale">Sale <span>50%</span></a>
					</div>
					<div class="item-products__actions">
						<a href="#" class="item-products__action item-products__action--icon-favorite"></a>
						<a href="#" class="item-products__action item-products__action--icon-eye"></a>
					</div>
					<a href="#" class="item-products__picture">
						<img src="@img/products/green-capsicum.jpg" class="item-products__image" alt="Image"
							data-fls-addtocart-image>
					</a>
					<div class="item-products__body">
						<div class="item-products__content">
							<h3 class="item-products__title">
								<a href="#" class="item-products__link-title">Green Capsicum</a>
							</h3>
							<div class="item-products__prices">
								<div class="item-products__current">$9.00</div>
								<div class="item-products__old">$20.99</div>
							</div>
							<form data-fls-rating="set" data-fls-rating-value="4" action="#"
								class="item-products__rating rating">
							</form>
						</div>
						<button type="button" data-fls-addtocart-button
							class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
					</div>
				</article>
				<article class="products__item item-products" data-fls-addtocart-product>
					<div class="item-products__labels">
					</div>
					<div class="item-products__actions">
						<a href="#" class="item-products__action item-products__action--icon-favorite"></a>
						<a href="#" class="item-products__action item-products__action--icon-eye"></a>
					</div>
					<a href="#" class="item-products__picture">
						<img src="@img/products/green-chili.jpg" class="item-products__image" alt="Image"
							data-fls-addtocart-image>
					</a>
					<div class="item-products__body">
						<div class="item-products__content">
							<h3 class="item-products__title">
								<a href="#" class="item-products__link-title">Green Chili</a>
							</h3>
							<div class="item-products__prices">
								<div class="item-products__current">$34.00</div>
								<div class="item-products__old"></div>
							</div>
							<form data-fls-rating="set" data-fls-rating-value="4" action="#"
								class="item-products__rating rating">
							</form>
						</div>
						<button type="button" data-fls-addtocart-button
							class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
					</div>
				</article>
				<article class="products__item item-products" data-fls-addtocart-product>
					<div class="item-products__labels">
					</div>
					<div class="item-products__actions">
						<a href="#" class="item-products__action item-products__action--icon-favorite"></a>
						<a href="#" class="item-products__action item-products__action--icon-eye"></a>
					</div>
					<a href="#" class="item-products__picture">
						<img src="@img/products/potatoes.jpg" class="item-products__image" alt="Image"
							data-fls-addtocart-image>
					</a>
					<div class="item-products__body">
						<div class="item-products__content">
							<h3 class="item-products__title">
								<a href="#" class="item-products__link-title">Big Potatoes</a>
							</h3>
							<div class="item-products__prices">
								<div class="item-products__current">$12.00</div>
								<div class="item-products__old"></div>
							</div>
							<form data-fls-rating="set" data-fls-rating-value="4" action="#"
								class="item-products__rating rating">
							</form>
						</div>
						<button type="button" data-fls-addtocart-button
							class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
					</div>
				</article>
				<article class="products__item item-products" data-fls-addtocart-product>
					<div class="item-products__labels">
					</div>
					<div class="item-products__actions">
						<a href="#" class="item-products__action item-products__action--icon-favorite"></a>
						<a href="#" class="item-products__action item-products__action--icon-eye"></a>
					</div>
					<a href="#" class="item-products__picture">
						<img src="@img/products/corn.jpg" class="item-products__image" alt="Image" data-fls-addtocart-image>
					</a>
					<div class="item-products__body">
						<div class="item-products__content">
							<h3 class="item-products__title">
								<a href="#" class="item-products__link-title">Corn</a>
							</h3>
							<div class="item-products__prices">
								<div class="item-products__current">$12.00</div>
								<div class="item-products__old"></div>
							</div>
							<form data-fls-rating="set" data-fls-rating-value="4" action="#"
								class="item-products__rating rating">
							</form>
						</div>
						<button type="button" data-fls-addtocart-button
							class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
					</div>
				</article>
				<article class="products__item item-products" data-fls-addtocart-product>
					<div class="item-products__labels">
					</div>
					<div class="item-products__actions">
						<a href="#" class="item-products__action item-products__action--icon-favorite"></a>
						<a href="#" class="item-products__action item-products__action--icon-eye"></a>
					</div>
					<a href="#" class="item-products__picture">
						<img src="@img/products/red-capsicum.jpg" class="item-products__image" alt="Image"
							data-fls-addtocart-image>
					</a>
					<div class="item-products__body">
						<div class="item-products__content">
							<h3 class="item-products__title">
								<a href="#" class="item-products__link-title">Red Capsicum</a>
							</h3>
							<div class="item-products__prices">
								<div class="item-products__current">$12.00</div>
								<div class="item-products__old"></div>
							</div>
							<form data-fls-rating="set" data-fls-rating-value="4" action="#"
								class="item-products__rating rating">
							</form>
						</div>
						<button type="button" data-fls-addtocart-button
							class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
					</div>
				</article>
				<article class="products__item item-products" data-fls-addtocart-product>
					<div class="item-products__labels">
						<a href="#" class="item-products__label item-products__label--sale">Sale <span>50%</span></a>
					</div>
					<div class="item-products__actions">
						<a href="#" class="item-products__action item-products__action--icon-favorite"></a>
						<a href="#" class="item-products__action item-products__action--icon-eye"></a>
					</div>
					<a href="#" class="item-products__picture">
						<img src="@img/products/red-tomatos.jpg" class="item-products__image" alt="Image"
							data-fls-addtocart-image>
					</a>
					<div class="item-products__body">
						<div class="item-products__content">
							<h3 class="item-products__title">
								<a href="#" class="item-products__link-title">Red Tomatos</a>
							</h3>
							<div class="item-products__prices">
								<div class="item-products__current">$9.00</div>
								<div class="item-products__old">$20.99</div>
							</div>
							<form data-fls-rating="set" data-fls-rating-value="4" action="#"
								class="item-products__rating rating">
							</form>
						</div>
						<button type="button" data-fls-addtocart-button
							class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
					</div>
				</article>
				<article class="products__item item-products" data-fls-addtocart-product>
					<div class="item-products__labels">
					</div>
					<div class="item-products__actions">
						<a href="#" class="item-products__action item-products__action--icon-favorite"></a>
						<a href="#" class="item-products__action item-products__action--icon-eye"></a>
					</div>
					<a href="#" class="item-products__picture">
						<img src="@img/products/surjapur-mango.jpg" class="item-products__image" alt="Image"
							data-fls-addtocart-image>
					</a>
					<div class="item-products__body">
						<div class="item-products__content">
							<h3 class="item-products__title">
								<a href="#" class="item-products__link-title">Surjapur Mango</a>
							</h3>
							<div class="item-products__prices">
								<div class="item-products__current">$34.00</div>
								<div class="item-products__old"></div>
							</div>
							<form data-fls-rating="set" data-fls-rating-value="4" action="#"
								class="item-products__rating rating">
							</form>
						</div>
						<button type="button" data-fls-addtocart-button
							class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
					</div>
				</article>
			</div>
		</div>
	</section>
	<section class="page__banner sale-banner">
		<div class="sale-banner__container">
			<div class="sale-banner__body">
				<div class="sale-banner__content">
					<h5 class="sale-banner__title">Summer Sale</h5>
					<div class="sale-banner__value"><span>37%</span> OFF</div>
					<div class="sale-banner__text">
						<p>Free on all your order, Free Shipping and 30 days money-back guarantee</p>
					</div>
					<a href="#" class="sale-banner__button button button--arrow button--icon-arrow">Shop Now</a>
				</div>
				<img src="@img/banners/sale-banner.jpg" class="sale-banner__image" alt="Image">
			</div>
		</div>
	</section>
	<section class="page__popular-products popular-products">
		<div class="popular-products__container">
			<div class="popular-products__header block-header block-header--margin">
				<h2 class="block-header__title title">Featured Products</h2>
				<a href="#" class="block-header__link link-arrow link-arrow--icon-arrow">View All</a>
			</div>
			<div class="products" data-fls-products data-fls-addtocart>
				<article class="products__item item-products" data-fls-addtocart-product>
					<div class="item-products__labels">
						<a href="#" class="item-products__label item-products__label--sale">Sale <span>50%</span></a>
					</div>
					<div class="item-products__actions">
						<a href="#" class="item-products__action item-products__action--icon-favorite"></a>
						<a href="#" class="item-products__action item-products__action--icon-eye"></a>
					</div>
					<a href="#" class="item-products__picture">
						<img src="@img/products/apple.jpg" class="item-products__image" alt="Image" data-fls-addtocart-image>
					</a>
					<div class="item-products__body">
						<div class="item-products__content">
							<h3 class="item-products__title">
								<a href="#" class="item-products__link-title">Green Apple</a>
							</h3>
							<div class="item-products__prices">
								<div class="item-products__current">$14.99</div>
								<div class="item-products__old">$20.99</div>
							</div>
							<form data-fls-rating="set" data-fls-rating-value="4" action="#"
								class="item-products__rating rating">
							</form>
						</div>
						<button type="button" data-fls-addtocart-button
							class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
					</div>
				</article>
				<article class="products__item item-products" data-fls-addtocart-product>
					<div class="item-products__labels">
					</div>
					<div class="item-products__actions">
						<a href="#" class="item-products__action item-products__action--icon-favorite"></a>
						<a href="#" class="item-products__action item-products__action--icon-eye"></a>
					</div>
					<a href="#" class="item-products__picture">
						<img src="@img/products/malta.jpg" class="item-products__image" alt="Image" data-fls-addtocart-image>
					</a>
					<div class="item-products__body">
						<div class="item-products__content">
							<h3 class="item-products__title">
								<a href="#" class="item-products__link-title">Green Apple</a>
							</h3>
							<div class="item-products__prices">
								<div class="item-products__current">$14.99</div>
								<div class="item-products__old">$20.99</div>
							</div>
							<form data-fls-rating="set" data-fls-rating-value="4" action="#"
								class="item-products__rating rating">
							</form>
						</div>
						<button type="button" data-fls-addtocart-button
							class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
					</div>
				</article>
				<article class="products__item item-products" data-fls-addtocart-product>
					<div class="item-products__labels">
					</div>
					<div class="item-products__actions">
						<a href="#" class="item-products__action item-products__action--icon-favorite"></a>
						<a href="#" class="item-products__action item-products__action--icon-eye"></a>
					</div>
					<a href="#" class="item-products__picture">
						<img src="@img/products/cabbage.jpg" class="item-products__image" alt="Image"
							data-fls-addtocart-image>
					</a>
					<div class="item-products__body">
						<div class="item-products__content">
							<h3 class="item-products__title">
								<a href="#" class="item-products__link-title">Green Apple</a>
							</h3>
							<div class="item-products__prices">
								<div class="item-products__current">$14.99</div>
								<div class="item-products__old">$20.99</div>
							</div>
							<form data-fls-rating="set" data-fls-rating-value="4" action="#"
								class="item-products__rating rating">
							</form>
						</div>
						<button type="button" data-fls-addtocart-button
							class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
					</div>
				</article>
				<article class="products__item item-products" data-fls-addtocart-product>
					<div class="item-products__labels">
					</div>
					<div class="item-products__actions">
						<a href="#" class="item-products__action item-products__action--icon-favorite"></a>
						<a href="#" class="item-products__action item-products__action--icon-eye"></a>
					</div>
					<a href="#" class="item-products__picture">
						<img src="@img/products/lettuce.jpg" class="item-products__image" alt="Image"
							data-fls-addtocart-image>
					</a>
					<div class="item-products__body">
						<div class="item-products__content">
							<h3 class="item-products__title">
								<a href="#" class="item-products__link-title">Green Apple</a>
							</h3>
							<div class="item-products__prices">
								<div class="item-products__current">$14.99</div>
								<div class="item-products__old">$20.99</div>
							</div>
							<form data-fls-rating="set" data-fls-rating-value="4" action="#"
								class="item-products__rating rating">
							</form>
						</div>
						<button type="button" data-fls-addtocart-button
							class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
					</div>
				</article>
				<article class="products__item item-products" data-fls-addtocart-product>
					<div class="item-products__labels">
					</div>
					<div class="item-products__actions">
						<a href="#" class="item-products__action item-products__action--icon-favorite"></a>
						<a href="#" class="item-products__action item-products__action--icon-eye"></a>
					</div>
					<a href="#" class="item-products__picture">
						<img src="@img/products/eggplant.jpg" class="item-products__image" alt="Image"
							data-fls-addtocart-image>
					</a>
					<div class="item-products__body">
						<div class="item-products__content">
							<h3 class="item-products__title">
								<a href="#" class="item-products__link-title">Green Apple</a>
							</h3>
							<div class="item-products__prices">
								<div class="item-products__current">$14.99</div>
								<div class="item-products__old">$20.99</div>
							</div>
							<form data-fls-rating="set" data-fls-rating-value="4" action="#"
								class="item-products__rating rating">
							</form>
						</div>
						<button type="button" data-fls-addtocart-button
							class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
					</div>
				</article>
			</div>
		</div>
	</section>
	<section class="page__news latest-news">
		<div class="latest-news__container">
			<div class="latest-news__block-header block-header block-header--margin block-header--center">
				<h2 class="block-header__title title">Latest News</h2>
			</div>
			<div class="latest-news__items news-items">
				<article class="news-items__item news-item">
					<div class="news-item__header">
						<a href="#" class="news-item__image-link">
							<img src="@img/news/01.jpg" class="news-item__image" alt="Image">
						</a>
						<time datetime class="news-item__date">18 <small>nov</small></time>
					</div>
					<div class="news-item__body">
						<ul class="news-item__tags">
							<li><a href="#" class="news-item__tag news-item__tag--icon-label">Food</a></li>
							<li><a href="#" class="news-item__tag news-item__tag--icon-author">By Admin</a></li>
							<li><a href="#" class="news-item__tag news-item__tag--icon-comments">65 Comments</a></li>
						</ul>
						<h4 class="news-item__title">
							<a href="#" class="news-item__link-title">Curabitur porttitor orci eget neque accumsan venenatis.
								Nunc fermentum.</a>
						</h4>
						<a href="#" class="news-item__arrow-link link-arrow link-arrow--icon-arrow">Read More</a>
					</div>
				</article>
				<article class="latest-news__item news-item">
					<div class="news-item__header">
						<a href="#" class="news-item__image-link">
							<img src="@img/news/02.jpg" class="news-item__image" alt="Image">
						</a>
						<time datetime class="news-item__date">18 <small>nov</small></time>
					</div>
					<div class="news-item__body">
						<ul class="news-item__tags">
							<li><a href="#" class="news-item__tag news-item__tag--icon-label">Food</a></li>
							<li><a href="#" class="news-item__tag news-item__tag--icon-author">By Admin</a></li>
							<li><a href="#" class="news-item__tag news-item__tag--icon-comments">65 Comments</a></li>
						</ul>
						<h4 class="news-item__title">
							<a href="#" class="news-item__link-title">Curabitur porttitor orci eget neque accumsan venenatis.
								Nunc fermentum.</a>
						</h4>
						<a href="#" class="news-item__arrow-link link-arrow link-arrow--icon-arrow">Read More</a>
					</div>
				</article>
				<article class="latest-news__item news-item">
					<div class="news-item__header">
						<a href="#" class="news-item__image-link">
							<img src="@img/news/03.jpg" class="news-item__image" alt="Image">
						</a>
						<time datetime class="news-item__date">18 <small>nov</small></time>
					</div>
					<div class="news-item__body">
						<ul class="news-item__tags">
							<li><a href="#" class="news-item__tag news-item__tag--icon-label">Food</a></li>
							<li><a href="#" class="news-item__tag news-item__tag--icon-author">By Admin</a></li>
							<li><a href="#" class="news-item__tag news-item__tag--icon-comments">65 Comments</a></li>
						</ul>
						<h4 class="news-item__title">
							<a href="#" class="news-item__link-title">Curabitur porttitor orci eget neque accumsan venenatis.
								Nunc fermentum.</a>
						</h4>
						<a href="#" class="news-item__arrow-link link-arrow link-arrow--icon-arrow">Read More</a>
					</div>
				</article>
			</div>
		</div>
	</section>
	<section class="page__reviews reviews">
		<div class="reviews__container">
			<div class="reviews__block-header block-header block-header--margin">
				<h2 class="block-header__title title">Client Testimonials</h2>
				<div class="block-header__slider-arrows">
					<button aria-label="Previous slide"
						class="block-header__slider-arrow block-header__slider-arrow--left block-header__slider-arrow--icon-arrow"></button>
					<button aria-label="Next slide"
						class="block-header__slider-arrow block-header__slider-arrow--right block-header__slider-arrow--icon-arrow"></button>
				</div>
			</div>
			<div data-fls-slider class="reviews__slider slider-reviews swiper">
				<div class="slider-reviews__wrapper swiper-wrapper">
					<div class="slider-reviews__slide swiper-slide">
						<article class="item-review item-review--icon-quote">
							<div class="item-review__text">
								<p>Pellentesque eu nibh eget mauris congue mattis mattis nec tellus. Phasellus imperdiet elit eu
									magna dictum, bibendum cursus velit sodales. Donec sed neque eget</p>
							</div>
							<div class="item-review__footer">
								<div class="item-review__author author-review">
									<figure class="author-review__picture">
										<img src="@img/reviews/avatar-01.jpg" class="author-review__avatar" alt="Image">
									</figure>
									<div class="author-review__body">
										<h4 class="author-review__title">Robert Fox</h4>
										<div class="author-review__type">Customer</div>
									</div>
								</div>
								<div class="item-review__rating rating rating--static rating--big">
									<div class="rating__items">
										<div class="rating__item rating__item--active"></div>
										<div class="rating__item rating__item--active"></div>
										<div class="rating__item rating__item--active"></div>
										<div class="rating__item rating__item--active"></div>
										<div class="rating__item"></div>
									</div>
								</div>
							</div>
						</article>
					</div>
					<div class="slider-reviews__slide swiper-slide">
						<article class="item-review item-review--icon-quote">
							<div class="item-review__text">
								<p>Pellentesque eu nibh eget mauris congue mattis mattis nec tellus. Phasellus imperdiet elit eu
									magna dictum, bibendum cursus velit sodales. Donec sed neque eget</p>
							</div>
							<div class="item-review__footer">
								<div class="item-review__author author-review">
									<figure class="author-review__picture">
										<img src="@img/reviews/avatar-02.jpg" class="author-review__avatar" alt="Image">
									</figure>
									<div class="author-review__body">
										<h4 class="author-review__title">Robert Fox</h4>
										<div class="author-review__type">Customer</div>
									</div>
								</div>
								<div class="item-review__rating rating rating--static rating--big">
									<div class="rating__items">
										<div class="rating__item rating__item--active"></div>
										<div class="rating__item rating__item--active"></div>
										<div class="rating__item rating__item--active"></div>
										<div class="rating__item rating__item--active"></div>
										<div class="rating__item rating__item--active"></div>
									</div>
								</div>
							</div>
						</article>
					</div>
					<div class="slider-reviews__slide swiper-slide">
						<article class="item-review item-review--icon-quote">
							<div class="item-review__text">
								<p>Pellentesque eu nibh eget mauris congue mattis mattis nec tellus. Phasellus imperdiet elit eu
									magna dictum, bibendum cursus velit sodales. Donec sed neque eget</p>
							</div>
							<div class="item-review__footer">
								<div class="item-review__author author-review">
									<figure class="author-review__picture">
										<img src="@img/reviews/avatar-03.jpg" class="author-review__avatar" alt="Image">
									</figure>
									<div class="author-review__body">
										<h4 class="author-review__title">Robert Fox</h4>
										<div class="author-review__type">Customer</div>
									</div>
								</div>
								<div class="item-review__rating rating rating--static rating--big">
									<div class="rating__items">
										<div class="rating__item rating__item--active"></div>
										<div class="rating__item rating__item--active"></div>
										<div class="rating__item rating__item--active"></div>
										<div class="rating__item rating__item--active"></div>
										<div class="rating__item rating__item--active"></div>
									</div>
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="page__partners partners">
		<div class="partners__container">
			<ul class="partners__list">
				<li class="partners__item">
					<a href="#" class="partners__link">
						<img src="@img/partners/01.svg" alt="Image">
					</a>
				</li>
				<li class="partners__item">
					<a href="#" class="partners__link">
						<img src="@img/partners/02.svg" alt="Image">
					</a>
				</li>
				<li class="partners__item">
					<a href="#" class="partners__link">
						<img src="@img/partners/03.svg" alt="Image">
					</a>
				</li>
				<li class="partners__item">
					<a href="#" class="partners__link">
						<img src="@img/partners/04.svg" alt="Image">
					</a>
				</li>
				<li class="partners__item">
					<a href="#" class="partners__link">
						<img src="@img/partners/05.svg" alt="Image">
					</a>
				</li>
				<li class="partners__item">
					<a href="#" class="partners__link">
						<img src="@img/partners/06.svg" alt="Image">
					</a>
				</li>
			</ul>
		</div>
	</div>
	<section class="page__instagram instagram">
		<div class="instagram__container">
			<div class="instagram__block-header block-header block-header--margin block-header--center">
				<h2 class="block-header__title title">Follow us on Instagram</h2>
			</div>
			<div class="instagram__items">
				<a href="#" class="instagram__item">
					<img class="instagram__image" src="@img/instagram/01.jpg" alt="Image">
				</a>
				<a href="#" class="instagram__item">
					<img class="instagram__image" src="@img/instagram/02.jpg" alt="Image">
				</a>
				<a href="#" class="instagram__item">
					<img class="instagram__image" src="@img/instagram/03.jpg" alt="Image">
				</a>
				<a href="#" class="instagram__item">
					<img class="instagram__image" src="@img/instagram/04.jpg" alt="Image">
				</a>
				<a href="#" class="instagram__item">
					<img class="instagram__image" src="@img/instagram/05.jpg" alt="Image">
				</a>
				<a href="#" class="instagram__item">
					<img class="instagram__image" src="@img/instagram/06.jpg" alt="Image">
				</a>
			</div>
		</div>
	</section>
</main>