<script type="module" src="@components/pages/contact/contact.js"></script>
<link rel="stylesheet" href="@components/pages/contact/contact.scss">

<include src="@components/custom/breadcrumbs/breadcrumbs.html" locals='{
  "breadcrumbs": [
    { "name": "Contact", "last": true }
  ]
}'></include>

<main class="contact">
   <div class="contact__container">
      <section class="contact__body">

         <div class="contact__cards">
            <div class="contact__card">
               <div class="contact__icon contact__icon--icon-location-1"></div>
               <a class="contact__link" href="https://maps.app.goo.gl/NVGciWiSqokUn8qS9" target="_blank">
                  <address>2715 Ash Dr. San Jose, South Dakota 83475</address>
               </a>
            </div>
            <div class="contact__card">
               <div class="contact__icon contact__icon--icon-mail"></div>
               <a class="contact__link" href="mailto:Proxy@gmail.com">Proxy@gmail.com</a>
               <a class="contact__link" href="mailto:Help.proxy@gmail.com">Help.proxy@gmail.com</a>
            </div>
            <div class="contact__card">
               <div class="contact__icon contact__icon--icon-phone-1"></div>
               <a class="contact__link" href="tel:2195550114">(219) 555-0114</a>
               <a class="contact__link" href="tel:1643330487">(164) 333-0487</a>
            </div>
         </div>

         <form class="contact__form" data-fls-form="dev" method="POST" action="files/sendmail/sendmail.php">
            <div class="contact__content">
               <h1 class="contact__title">Just Say Hello!</h1>
               <p>Do you fancy saying hi to me or you want to get started with your project and you need my help? Feel
                  free
                  to contact me.
               </p>
            </div>
            <div class="contact__inputs">
               <div class="contact__row">
                  <label class="contact__line">
                     <input class="contact__input input" data-fls-input data-fls-form-validatenow required
                        autocomplete="off" type="text" name="form[name]" data-fls-form-errtext="Please enter your name"
                        placeholder="Your Name">
                  </label>
                  <label class="contact__line">
                     <input class="contact__input input" data-fls-input data-fls-form-validatenow required
                        autocomplete="off" type="email" name="form[email]"
                        data-fls-form-errtext="Please enter a valid email" placeholder="zakirsoft@gmail.com"></label>
               </div>
               <label class="contact__line">
                  <input class="contact__input input" data-fls-input data-fls-form-validatenow required
                     autocomplete="off" type="text" name="form[subject]" data-fls-form-errtext="Please enter a subject"
                     placeholder="Subject">
               </label>
               <label class="contact__line">
                  <textarea class="contact__textarea input" data-fls-input data-fls-form-validatenow required
                     autocomplete="off" name="form[message]" placeholder="Your Message"
                     data-fls-form-errtext="Please enter your message"></textarea>
               </label>
            </div>
            <button class="contact__button button" data-fls-button type="submit">Send Message</button>
         </form>

      </section>

      <section class="contact__map">
         <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d25375.259641199315!2d-121.8873828!3d37.3446996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fcae48af93ff5%3A0xb99d8c0aca9f717b!2z0KHQsNC9LdCl0L7RgdC1LCDQmtCw0LvRltGE0L7RgNC90ZbRjywg0KHQv9C-0LvRg9GH0LXQvdGWINCo0YLQsNGC0Lgg0JDQvNC10YDQuNC60Lg!5e0!3m2!1suk!2sua!4v1768057009262!5m2!1suk!2sua"
            width="1920" height="400" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
      </section>

   </div>
</main>