.bloglist {
	// .bloglist__container
	&__container {
	}
	// .bloglist__header
	&__header {
	}
	// .bloglist__body
	&__body {
	}
	// .bloglist__filter
	&__filter.filter {
		> *:not(:last-child) {
			border-bottom: 1px solid $grey1;
			padding-bottom: 20px;
		}
		@media (min-width: toEm($mobile)) {
			flex-basis: 448px;
		}
		@media ((max-width: toEm($tablet)) and (min-width: toEm($mobile))) {
			margin-left: -448px;
		}
	}
	// .bloglist__content
	&__content {
	}
	// .bloglist__items
	&__items.news-items {
		@media (max-width: 1120px) {
			grid-template-columns: repeat(auto-fill, minmax(min(toRem(260), 100%), 1fr));
		}
	}
}
.filter {
	// .filter__section
	&__section {
	}
	// .filter__search
	&__search {
		// padding-bottom: 20px;
	}
	// .filter__top
	&__top {
	}
	// .filter__tags
	&__tags {
	}
	// .filter__gallery
	&__gallery {
	}
	// .filter__recently
	&__recently {
	}
}
.search-filter {
	position: relative;
	display: flex;
	align-items: center;
	border: 1px solid $grey1;
	border-radius: 6px;
	// .search-filter__input
	&__input {
		padding: 13px 16px 13px 44px;
		color: $grey9;
	}
	// .search-filter__button
	&__button {
		position: absolute;
		left: 0;
		width: 40px;
		height: 47px;
		display: flex;
		align-items: center;
		justify-content: center;
		&::before {
			font-size: 17px;
			color: $grey9;
			transition: color 0.3s;
		}
		// .search-filter__button--icon-search
		&--icon-search {
		}
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover::before {
				color: $success;
			}
		}
	}
}
.top-categories {
	// .top-categories__title
	&__title {
	}
	// .top-categories__list
	&__list {
		display: flex;
		flex-direction: column;
		gap: 16px;
		padding-top: 20px;
	}
	// .top-categories__item
	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: $grey9;
		@include typography("S");
		span {
			color: $grey5;
		}
	}
}
.title-filter {
	color: $grey9;
	@include typography("XL", 500);
}
.tag-popular {
	// .tag-popular__title
	&__title {
	}
	// .tag-popular__list
	&__list {
		display: inline-flex;
		flex-wrap: wrap;
		gap: 8px 11px;
		padding-top: 20px;
	}
	// .tag-popular__item
	&__item {
		color: $grey9;
		@include typography("S");
		border-radius: 30px;
		background-color: $grey05;
		padding: 6px 16px;
		transition:
			background-color 0.3s,
			color 0.3s;
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				color: $white;
				background-color: $success;
			}
		}
	}
	// .tag-popular__link
	&__link {
	}
}
.gallery-filter {
	// .gallery-filter__title
	&__title {
	}
	// .gallery-filter__list
	&__list {
		display: grid;
		flex-basis: 100px;
		grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
		gap: 8px;
		padding-top: 20px;
		@media (max-width: toEm($mobile)) {
			margin-inline: -15px;
			padding-inline: 15px;
			display: flex;
			overflow: auto;
		}
	}
	// .gallery-filter__item
	&__item {
		flex-shrink: 0;
		justify-self: center;
		aspect-ratio: 1;
		width: 100px;
		border-radius: 6px;
		overflow: hidden;
	}
	// .gallery-filter__image
	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.recently-filter {
	// .recently-filter__title
	&__title {
	}
	// .recently-filter__list
	&__list {
		display: grid;
		gap: 16px;
		padding-top: 20px;
	}
	// .recently-filter__item
	&__item {
		display: flex;
		gap: 12px;
		align-items: start;
	}
	// .recently-filter__picture
	&__picture {
		flex-shrink: 0;
		aspect-ratio: 100 / 77;
		width: 100px;
		border-radius: 6px;
		overflow: hidden;
	}
	// .recently-filter__image
	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
	}
	// .recently-filter__body
	&__body {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}
	// .recently-filter__text
	&__text {
		@include typography("M", 500);
		color: $grey9;
	}
	// .recently-filter__date
	&__date {
		display: flex;
		align-items: center;
		gap: 6px;
		&::before {
			font-size: 15px;
			color: $success;
		}
		// .recently-filter__date--icon-calendar
		&--icon-calendar {
		}
	}
}
