<div class="header__menu menu">
	<button type="button" data-fls-menu class="menu__icon icon-menu"><span></span></button>
	<nav class="menu__body">
		<ul class="menu__list">
			<each loop='item in [
					{"href": "index.html","ancor": "Головна"},
					{"href": "#","ancor": "Про нас"},
					{"href": "#","ancor": "Послуги"},
					{"href": "#","ancor": "Галерея"},
					{"href": "#","ancor": "Контакти"}
				]'>
				<if condition="'[[active]]' === '[[item.ancor]]'">
					<li class="menu__item">
						<a href="[[item.href]]" class="menu__link menu__link--active">[[item.ancor]]</a>
					</li>
				</if>
				<else>
					<li class="menu__item">
						<a href="[[item.href]]" class="menu__link">[[item.ancor]]</a>
					</li>
				</else>
			</each>
		</ul>
	</nav>
</div>