@font-face { 
	font-family: "iconfont"; 
	font-display: swap;
	src: url("C://Users/papay/OneDrive/Рабочий стол/hydra-new/src/assets/svgicons/preview/iconfont.woff2?2689fd81876b5d115319cf9e1ee2ffb4") format("woff2"); 
} 
[class*="--icon-"]::before{
	font-family: iconfont; 
}
	[class*="--icon-youtube"]::before { 
		content: "\f101"; 
	} 
	[class*="--icon-twitter"]::before { 
		content: "\f102"; 
	} 
	[class*="--icon-pinterest"]::before { 
		content: "\f103"; 
	} 
	[class*="--icon-phone"]::before { 
		content: "\f104"; 
	} 
	[class*="--icon-mail"]::before { 
		content: "\f105"; 
	} 
	[class*="--icon-location"]::before { 
		content: "\f106"; 
	} 
	[class*="--icon-linkedin"]::before { 
		content: "\f107"; 
	} 
	[class*="--icon-instagram"]::before { 
		content: "\f108"; 
	} 
	[class*="--icon-facebook"]::before { 
		content: "\f109"; 
	} 
	[class*="--icon-chevron-small-down"]::before { 
		content: "\f10a"; 
	} 
	[class*="--icon-arrow-small-right"]::before { 
		content: "\f10b"; 
	} 
