// Базові стилі спойлерів
// Сніппет (HTML): spoller

[data-fls-spollers] {
	details {
	}
	summary {
		list-style: none;
		&::marker,
		&::-webkit-details-marker {
			display: none;
		}
	}
}

.spollers {
	display: grid;
	gap: 20px;
	// .spollers__item
	&__item {
		padding-bottom: 20px;
		&:not(:last-child) {
			border-bottom: 1px solid $grey1;
		}
	}
	// .spollers__title
	&__title {
		@include typography("XL", 500);
		color: $grey9;
		cursor: pointer;
		appearance: none;
		display: flex;
		justify-content: space-between;
		gap: 10px;
		align-items: center;
		position: relative;

		&::marker,
		&::-webkit-details-marker {
			display: none;
		}
		.--spoller-init & {
			cursor: pointer;
			&::before,
			&::after {
				content: "";
				position: absolute;
				right: 10px;
				top: 50%;
				background-color: #000;
				height: 2px;
				width: 12px;
				transition: transform 0.5s ease 0s;
			}
			&::before {
				transform: translate(-75%, -50%) rotate(40deg);
			}
			&::after {
				transform: translate(0, -50%) rotate(-40deg);
			}
			&.--spoller-active {
				&::before {
					transform: translateX(-75%) rotate(-40deg);
				}
				&::after {
					transform: rotate(40deg);
				}
			}
		}
	}
	// .spollers__body
	&__body {
		padding-top: 20px;
	}
	// .spollers__wrapper
	&__wrapper {
		// .spollers__wrapper--rating
		&--rating {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}
		// .spollers__wrapper--tags
		&--tags {
			display: flex;
			gap: 8px;
			flex-wrap: wrap;
		}
	}
}
