<form action="#" data-fls-novaposhta data-fls-select-one class="novaposhta">
	<div class="novaposhta__item">
		<select id="np-city" name="np-city" data-fls-select data-fls-select-search data-fls-select-modif="form">
			<option selected value>Населений пункт</option>
		</select>
	</div>
	<div class="novaposhta__item">
		<select id="np-point" name="np-point" data-fls-select data-fls-select-search data-fls-select-modif="form">
			<option selected value>Відділення/Поштомат</option>
		</select>
	</div>
</form>