<link rel="stylesheet" href="@components/custom/sheets/sheets.scss">

<ul class="pages">
   <li class="pages__item">
      <a href="#" class="pages__link pages__link--icon-shevron"></a>
   </li>
   <li class="pages__item">
      <a href="#" class="pages__link pages__link--current">1</a>
   </li>
   <li class="pages__item">
      <a href="#" class="pages__link">2</a>
   </li>
   <li class="pages__item">
      <a href="#" class="pages__link">3</a>
   </li>
   <li class="pages__item">
      <a href="#" class="pages__link">4</a>
   </li>
   <li class="pages__item">
      <a href="#" class="pages__link">5</a>
   </li>
   <li class="pages__item">
      <a href="#" class="pages__link">...</a>
   </li>
   <li class="pages__item">
      <a href="#" class="pages__link">21</a>
   </li>
   <li class="pages__item">
      <a href="#" class="pages__link pages__link--icon-shevron"></a>
   </li>
</ul>