.options {
	// padding-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	// .options__label
	&__label {
		display: inline-flex;
		align-items: center;
		gap: 8px;
		cursor: pointer;
		border-radius: 3px;

		&::before {
			content: "";
			transition: all 0.2s;
			width: 20px;
			flex-shrink: 0;
			aspect-ratio: 1;
			border-radius: 50%;
			outline-offset: -1px;
			outline: 1px solid $grey2;
			border: 4px solid transparent;
		}
		&:has(.options__input:focus-visible) {
			outline: 1px solid $grey9;
		}
		&:has(.options__input:checked) {
			&::before {
				outline-color: $success;
				border-color: $white;
				background-color: $success;
			}
		}
		&:not(:last-child) {
			margin-bottom: 20px;
		}
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				&::before {
					outline-color: $grey4;
				}
			}
		}
	}
	// .options__input
	&__input {
		appearance: none;
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
	}
	// .options__text
	&__text {
		@include typography("S");
		color: $grey9;
		span {
			color: $grey5;
		}
	}
}
