<div data-fls-radio class="options">
	<label class="options__label">
		<input class="options__input" type="radio" name="form[category]">
		<span class="options__text">Fresh Fruit <span>(25)</span></span>
	</label>
	<label class="options__label">
		<input class="options__input" checked type="radio" name="form[category]">
		<span class="options__text">Vegetables <span>(150)</span></span>
	</label>
	<label class="options__label">
		<input class="options__input" type="radio" name="form[category]">
		<span class="options__text">Cooking <span>(54)</span></span>
	</label>
	<label class="options__label">
		<input class="options__input" type="radio" name="form[category]">
		<span class="options__text">Snacks <span>(47)</span></span>
	</label>
	<label class="options__label">
		<input class="options__input" type="radio" name="form[category]">
		<span class="options__text">Beverages <span>(43)</span></span>
	</label>
	<label class="options__label">
		<input class="options__input" type="radio" name="form[category]">
		<span class="options__text">Beauty & Health <span>(38)</span></span>
	</label>
	<label class="options__label">
		<input class="options__input" type="radio" name="form[category]">
		<span class="options__text">Bread & Bakery <span>(15)</span></span>
	</label>
</div>