<link rel="stylesheet" href="@components/custom/reviewtabs/reviewtabs.scss">

<div class="tabs__wrapp">
   <article class="tabs__review review-tabs">
      <div class="review-tabs__footer">
         <figure class="review-tabs__picture">
            <img class="review-tabs__avatar" src="@img/reviews/avatar-04.jpg" alt="Image">
         </figure>
         <div class="review-tabs__body">
            <h4 class="review-tabs__title">Kristin Watson</h4>
            <div class="review-tabs__rating rating rating--static rating--big">
               <div class="rating__item rating__item--active"></div>
               <div class="rating__item rating__item--active"></div>
               <div class="rating__item rating__item--active"></div>
               <div class="rating__item rating__item--active"></div>
               <div class="rating__item"></div>
            </div>
         </div>
         <time class="review-tabs__time" datetime="2021-04-30">30 Apr, 2021</time>
      </div>
      <div class="review-tabs__text">
         <p>Duis at ullamcorper nulla, eu dictum eros.</p>
      </div>
   </article>
   <article class="tabs__review review-tabs">
      <div class="review-tabs__footer">
         <figure class="review-tabs__picture">
            <img class="review-tabs__avatar" src="@img/reviews/avatar.svg" alt="Image">
         </figure>
         <div class="review-tabs__body">
            <h4 class="review-tabs__title">Jane Cooper</h4>
            <div class="review-tabs__rating rating rating--static rating--big">
               <div class="rating__item rating__item--active"></div>
               <div class="rating__item rating__item--active"></div>
               <div class="rating__item rating__item--active"></div>
               <div class="rating__item rating__item--active"></div>
               <div class="rating__item"></div>
            </div>
         </div>
         <time class="review-tabs__time" datetime="2021-04-30">30 Apr, 2021</time>
      </div>
      <div class="review-tabs__text">
         <p>Keep the soil evenly moist for the healthiest growth. If the sun gets too hot, Chinese cabbage tends to
            "bolt"
            or go to seed; in long periods of heat, some kind of shade may be helpful. Watch out for snails, as they
            will
            harm the plants.</p>
      </div>
   </article>
   <article class="tabs__review review-tabs">
      <div class="review-tabs__footer">
         <figure class="review-tabs__picture">
            <img class="review-tabs__avatar" src="@img/reviews/avatar-05.jpg" alt="Image">
         </figure>
         <div class="review-tabs__body">
            <h4 class="review-tabs__title">Jacob Jones</h4>
            <div class="review-tabs__rating rating rating--static rating--big">
               <div class="rating__item rating__item--active"></div>
               <div class="rating__item rating__item--active"></div>
               <div class="rating__item rating__item--active"></div>
               <div class="rating__item rating__item--active"></div>
               <div class="rating__item"></div>
            </div>
         </div>
         <time class="review-tabs__time" datetime="2021-04-30">30 Apr, 2021</time>
      </div>
      <div class="review-tabs__text">
         <p> Vivamus eget euismod magna. Nam sed lacinia nibh, et lacinia lacus.</p>
      </div>
   </article>
   <article class="tabs__review review-tabs">
      <div class="review-tabs__footer">
         <figure class="review-tabs__picture">
            <img class="review-tabs__avatar" src="@img/reviews/avatar-06.jpg" alt="Image">
         </figure>
         <div class="review-tabs__body">
            <h4 class="review-tabs__title">Ralph Edwards</h4>
            <div class="review-tabs__rating rating rating--static rating--big">
               <div class="rating__item rating__item--active"></div>
               <div class="rating__item rating__item--active"></div>
               <div class="rating__item rating__item--active"></div>
               <div class="rating__item rating__item--active"></div>
               <div class="rating__item"></div>
            </div>
         </div>
         <time class="review-tabs__time" datetime="2021-04-30">30 Apr, 2021</time>
      </div>
      <div class="review-tabs__text">
         <p>200+ Canton Pak Choi Bok Choy Chinese Cabbage Seeds Heirloom Non-GMO Productive Brassica rapa VAR.
            chinensis,
            a.k.a. Canton's Choice, Bok Choi, from USA</p>
      </div>
   </article>
</div>