.header {
	// .header__container
	&__container {
		padding: 24px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
	}
	// .header__logo
	&__logo {
		display: flex;
		align-items: center;
		gap: 2.2px;
	}
}
.logo {
	// .logo__picture
	&__picture {
		width: 26px;
		aspect-ratio: 1;
		overflow: hidden;
	}
	// .logo__image
	&__image {
		width: 100%;
		height: 100%;
		object-fit: contain;
		display: block;
	}
	// .logo__text
	&__text {
		font-size: 19.6px;
		font-weight: 600;
		color: $titleColor;
	}
}
