<link rel="stylesheet" href="@components/custom/wiget/wiget.scss">

<div class="tabs__wiget wiget">
   <iframe class="wiget__video" src="https://www.youtube.com/embed/TzqNA7FoEjY?si=kHuWM2E4AMJuPtL8"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
   <div class="wiget__items">
      <article class="wiget__item">
         <figure class="wiget__picture">
            <img class="wiget__icon" src="@img/wiget/01.svg" alt="Image">
         </figure>
         <div class="wiget__body">
            <h5 class="wiget__title">64% Discount</h5>
            <div class="wiget__text">Save your 64% money with us</div>
         </div>
      </article>
      <article class="wiget__item">
         <figure class="wiget__picture">
            <img class="wiget__icon" src="@img/wiget/02.svg" alt="Image">
         </figure>
         <div class="wiget__body">
            <h5 class="wiget__title">100% Organic</h5>
            <div class="wiget__text">100% Organic Vegetables</div>
         </div>
      </article>
   </div>
</div>