<footer data-fls-footer class="footer">
	<div class="footer__body body-footer">
		<div class="body-footer__container">
			<div class="body-footer__content">
				<div class="body-footer__logo logo-footer">
					<img src="@img/logo.svg" alt="Logo" class="logo-footer__icon">
					<div class="logo-footer__text">Ecobazar</div>
				</div>
				<div class="body-footer__text">
					<p>Morbi cursus porttitor enim lobortis molestie. Duis gravida turpis dui, eget bibendum magna
						congue nec.</p>
				</div>
				<div class="body-footer__links">
					<a href="tel:2195550114" class="body-footer___link">(219) 555-0114</a> or <a
						href="mailto:proxy@gmail.com" class="body-footer___link">Proxy@gmail.com</a>
				</div>
			</div>
			<div class="body-footer__menus menus-footer">
				<div class="menus-footer__column">
					<h5 class="menus-footer__title">My Account</h5>
					<ul class="menus-footer__list">
						<li class="menus-footer__item"><a href="#" class="menus-footer__link">My Account</a></li>
						<li class="menus-footer__item"><a href="#" class="menus-footer__link">Order History</a></li>
						<li class="menus-footer__item"><a href="#" class="menus-footer__link">Shoping Cart</a></li>
						<li class="menus-footer__item"><a href="#" class="menus-footer__link">Wishlist</a></li>
					</ul>
				</div>
				<div class="menus-footer__column">
					<h5 class="menus-footer__title">Helps</h5>
					<ul class="menus-footer__list">
						<li class="menus-footer__item"><a href="#" class="menus-footer__link">Contact</a></li>
						<li class="menus-footer__item"><a href="#" class="menus-footer__link">Faqs</a></li>
						<li class="menus-footer__item"><a href="#" class="menus-footer__link">Terms & Condition</a></li>
						<li class="menus-footer__item"><a href="#" class="menus-footer__link">Privacy Policy</a></li>
					</ul>
				</div>
				<div class="menus-footer__column">
					<h5 class="menus-footer__title">Proxy</h5>
					<ul class="menus-footer__list">
						<li class="menus-footer__item"><a href="#" class="menus-footer__link">About</a></li>
						<li class="menus-footer__item"><a href="#" class="menus-footer__link">Shop</a></li>
						<li class="menus-footer__item"><a href="#" class="menus-footer__link">Product</a></li>
						<li class="menus-footer__item"><a href="#" class="menus-footer__link">Track Order</a></li>
					</ul>
				</div>
				<div class="menus-footer__column">
					<h5 class="menus-footer__title">Categories</h5>
					<ul class="menus-footer__list">
						<li class="menus-footer__item"><a href="#" class="menus-footer__link">Fruit & Vegetables</a>
						</li>
						<li class="menus-footer__item"><a href="#" class="menus-footer__link">Meat & Fish</a></li>
						<li class="menus-footer__item"><a href="#" class="menus-footer__link">Bread & Bakery</a></li>
						<li class="menus-footer__item"><a href="#" class="menus-footer__link">Beauty & Health</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__bootom bootom-footer">
		<div class="bootom-footer__container">
			<div class="bootom-footer__copy">Ecobazar eCommerce © 2021. All Rights Reserved</div>
			<ul class="bootom-footer__payments payments">
				<li class="payments__item">
					<img src="@img/payments/01.svg" alt="Image">
				</li>
				<li class="payments__item">
					<img src="@img/payments/02.svg" alt="Image">
				</li>
				<li class="payments__item">
					<img src="@img/payments/03.svg" alt="Image">
				</li>
				<li class="payments__item">
					<img src="@img/payments/04.svg" alt="Image">
				</li>
				<li class="payments__item">
					<img src="@img/payments/05.svg" alt="Image">
				</li>
			</ul>
		</div>
	</div>
</footer>