<div class="header-catalog__filter">
   <button type="button" class="header-catalog__button button button--middle button--filter">Filter</button>
</div>
<div data-fls-dynamic=".catalog__body,767.98,1" class="header-catalog__body">
   <div class="header-catalog__sort sort-catalog">
      <label class="sort-catalog__label">Sort by:</label>
      <div class="sort-catalog__body sort-catalog__body--icon-shevron">
         <select name="form[sort]" class="sort-catalog__select">
            <option class="sort-catalog__item">Latest</option>
            <option class="sort-catalog__item">Newest</option>
         </select>
      </div>
   </div>
   <div class="header-catalog__result"><span>52</span> Results Found</div>
</div>