<script type="module" src="@components/pages/home/home.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss">

<main class="page page--home">

	<section class="page__hero hero">
		<div class="hero__container">

			<div class="hero__body">
				<div class="hero__content">
					<h1 class="hero__title title-hero">
						<span class="title-hero__line-1"><span>Dive</span> Into The Depths</span>
						<span class="title-hero__line-2">Of <span>Virtual Reality</span></span>
					</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
						sed do eiusmod tempor incididunt ut labore et dolore
						nisl tincidunt eget. Lectus mauris eros in vitae.
					</p>
					<div class="hero__link hero__link--icon-arrow-small-right">
						<a class="hero__button button button--maxi" href="#">BUILD YOUR WORLD</a>
					</div>
				</div>

				<figure class="hero__image">
					<div class="hero__inner">
						<img src="@img/hero/pexels-michelangelo.jpg" alt="Image">
					</div>
				</figure>
			</div>

			<div class="hero__contacts contacts swiper" data-fls-slider="hero">
				<div class="contacts__wrapper swiper-wrapper">
					<a class="contacts__item contacts__item--icon-location swiper-slide"
						href="https://maps.app.goo.gl/BWN8KTx73DKkcSRKA" target="_blank">
						<div class="contacts__body">
							<h3 class="contacts__title">Pay Us a Visit</h3>
							<address class="contacts__info">Union St, Seattle, WA 98101, <span>United States</span></address>
						</div>
					</a>
					<a class="contacts__item contacts__item--icon-phone swiper-slide" href="tel:11011111010">
						<div class="contacts__body">
							<h3 class="contacts__title">Give Us a Call</h3>
							<span class="contacts__info">(110) 1111-1010</span>
						</div>
					</a>
					<a class="contacts__item contacts__item--icon-mail swiper-slide" href="mailto:Contact@HydraVTech.com">
						<div class="contacts__body">
							<h3 class="contacts__title">Send Us a Message</h3>
							<span class="contacts__info">Contact@HydraVTech.com</span>
						</div>
					</a>
				</div>
				<div class="contacts__button-prev swiper-button-prev"></div>
				<div class="contacts__button-next swiper-button-next"></div>
			</div>

		</div>
	</section>

	<section class="page__introduction introduction">
		<div class="introduction__container">

			<div class="introduction__header header-introduction">
				<h2 class="header-introduction__title title">
					<strong class="title__strong">INTRODUCTION</strong>
					<span class="title__span title__span--arrow">TO HYDRA VR</span>
				</h2>
				<p>Vitae sapien pellentesque habitant morbi tristique senectus et netus et. Feugiat
					nibh sed pulvinar proin gravida hendrerit lectus. Mi sit amet mauris commodo
					quis imperdiet massa tincidunt nunc. Viverra aliquet eget sit amet tellus. Ornare
					lectus sit amet est placerat in. Lectus magna fringilla urna porttitor rhoncus vitae.</p>
			</div>

			<div class="introduction__body">
				<figure class="introduction__image">
					<img src="@img/about/about.jpg" alt="Image">
				</figure>
				<div class="introduction__content">
					<h3 class="introduction__title title">
						<strong class="title__strong">ABOUT</strong>
						<span class="title__span">HYDRA VR</span>
					</h3>
					<p>Eget mi proin sed libero enim sed faucibus turpis. Nisl rhoncus mattis rhoncus
						urna neque viverra justo. Vivamus at augue eget arcu dictum. Ultrices gravida
						dictum fusce ut placerat orci. Aenean et tortor at risus viverra adipiscing at in.
						Mattis aliquam faucibus purus in massa. Est placerat in egestas erat imperdiet
						sed. Consequat semper viverra nam libero justo laoreet sit amet. Aliquam
						etiam erat velit scelerisque in dictum non consectetur a. Laoreet sit amet
						cursus sit amet. Vel eros donec ac odio tempor orci dapibus. Sem nulla pha
						retra diam sit amet nisl suscipit adipiscing bibendum. Leo a diam sollicitudi
						n tempor.
					</p>
					<a class="introduction__button button button--maxi" href="#">LET’S GET IN TOUCH</a>
				</div>
			</div>

		</div>
	</section>

	<section class="page__build build">
		<div class="build__container">

			<div class="build__header header-build">
				<h2 class="header-build__title title">
					<strong class="title__strong">WHY BUILD</strong>
					<span class="title__span title__span--arrow">WITH HYDRA?</span>
				</h2>
				<p>Vitae sapien pellentesque habitant morbi tristique senectus et netus et. Feugiat
					nibh sed pulvinar proin gravida hendrerit lectus. Mi sit amet mauris commodo
					quis imperdiet massa tincidunt nunc. Viverra aliquet eget sit amet tellus. Ornare
					lectus sit amet est placerat in. Lectus magna fringilla urna porttitor rhoncus vitae.</p>
			</div>

			<div class="build__outer outer">
				<div class="outer__services services swiper" data-fls-slider="services">
					<div class="services__wrapper swiper-wrapper">

						<article class="services__item swiper-slide">
							<figure class="services__picture">
								<a href="#" class="services__inner">
									<img class="services__image" src="@img/build/simulation.jpg" alt="Image">
								</a>
							</figure>
							<h3 class="services__title"><a href="#">SIMULATION</a></h3>
							<p>Vitae sapien pellentesque habitant morbi
								nunc. Viverra aliquet porttitor rhoncus
								libero justo laoreet sit amet vitae.</p>
							<a class="services__button button button--mini" href="№">TRY IT NOW</a>
						</article>

						<article class="services__item swiper-slide">
							<figure class="services__picture">
								<a href="#" class="services__inner">
									<img class="services__image" src="@img/build/education.jpg" alt="Image">
								</a>
							</figure>
							<h3 class="services__title"><a href="#">EDUCATION</a></h3>
							<p>Vitae sapien pellentesque habitant morbi
								nunc. Viverra aliquet porttitor rhoncus
								libero justo laoreet sit amet vitae.</p>
							<a class="services__button button button--mini" href="№">TRY IT NOW</a>
						</article>

						<article class="services__item swiper-slide">
							<figure class="services__picture">
								<a href="#" class="services__inner">
									<img class="services__image" src="@img/build/self-care.jpg" alt="Image">
								</a>
							</figure>
							<h3 class="services__title"><a href="#">SELF-CARE</a></h3>
							<p>Vitae sapien pellentesque habitant morbi
								nunc. Viverra aliquet porttitor rhoncus
								libero justo laoreet sit amet vitae.</p>
							<a class="services__button button button--mini" href="№">TRY IT NOW</a>
						</article>

						<article class="services__item swiper-slide">
							<figure class="services__picture">
								<a href="#" class="services__inner">
									<img class="services__image" src="@img/build/outdoor.jpg" alt="Image">
								</a>
							</figure>
							<h3 class="services__title"><a href="#">OUTDOOR</a></h3>
							<p>Vitae sapien pellentesque habitant morbi
								nunc. Viverra aliquet porttitor rhoncus
								libero justo laoreet sit amet vitae.</p>
							<a class="services__button button button--mini" href="№">TRY IT NOW</a>
						</article>

					</div>
				</div>

				<div class="outer__button-prev swiper-button-prev"></div>
				<div class="outer__button-next swiper-button-next"></div>

			</div>

		</div>
	</section>

	<section class="page__technologies technologies">
		<div class="technologies__container">

			<div class="technologies__header">
				<h2 class="technologies__title title">
					<strong class="title__strong title__strong--small">TECHNOLOGIES & HARDWARE</strong>
					<span class="title__span">USED BY HYDRA VR.</span>
				</h2>
				<div class="technologies__picture">
					<img src="@img/technologies/technologies.jpg" alt="Image">
				</div>
				<button class="technologies__button" type="button">
					<span class="technologies__inner technologies__inner--icon-chevron-small-down"></span>
				</button>
			</div>

			<div class="technologies__outer outer">
				<div class="outer__partner partner swiper" data-fls-slider="partner">
					<div class="partner__wrapper swiper-wrapper">

						<div class="partner__item swiper-slide">
							<img src="@img/technologies/unreal.png" alt="Image">
						</div>

						<div class="partner__item swiper-slide">
							<img src="@img/technologies/unity.png" alt="Image">
						</div>

						<div class="partner__item swiper-slide">
							<img src="@img/technologies/oculus.png" alt="Image">
						</div>

						<div class="partner__item swiper-slide">
							<img src="@img/technologies/vive.png" alt="Image">
						</div>

					</div>
				</div>

				<div class="outer__button-prev swiper-button-prev"></div>
				<div class="outer__button-next swiper-button-next"></div>

			</div>

		</div>
	</section>

	<section class="page__how how">
		<div class="how__container">

			<div class="how__header header-how">
				<h2 class="header-how__title title">
					<strong class="title__strong">HOW WE BUILD</strong>
					<span class="title__span title__span--arrow">WITH HYDRA VR?</span>
				</h2>
				<p>Vitae sapien pellentesque habitant morbi tristique senectus et netus et. Feugiat
					nibh sed pulvinar proin gravida hendrerit lectus. Mi sit amet mauris commodo
					quis imperdiet massa tincidunt nunc. Viverra aliquet eget sit amet tellus. Ornare
					lectus sit amet est placerat in. Lectus magna fringilla urna porttitor rhoncus vitae.</p>
			</div>

			<div class="how__outer outer">
				<div class="outer__process process swiper" data-fls-slider="process">
					<div class="process__wrapper swiper-wrapper">

						<div class="process__item swiper-slide">
							<div class="process__circle">
								<div class="process__inner">
									<div class="process__value">01</div>
								</div>
							</div>
							<div class="process__lable">
								<span class="process__arrow process__arrow--icon-arrow-small-right">3D Conception</span>
								<span>& Design</span>
							</div>
						</div>

						<div class="process__item swiper-slide">
							<div class="process__circle">
								<div class="process__inner">
									<div class="process__value">02</div>
								</div>
							</div>
							<div class="process__lable">
								<span class="process__arrow process__arrow--icon-arrow-small-right">Interaction</span>
								<span>Design</span>
							</div>
						</div>

						<div class="process__item swiper-slide">
							<div class="process__circle">
								<div class="process__inner">
									<div class="process__value">03</div>
								</div>
							</div>
							<div class="process__lable">
								<span class="process__arrow process__arrow--icon-arrow-small-right">VR World</span>
								<span>User Testing</span>
							</div>
						</div>

						<div class="process__item swiper-slide">
							<div class="process__circle">
								<div class="process__inner">
									<div class="process__value">04</div>
								</div>
							</div>
							<div class="process__lable">
								<span class="process__arrow process__arrow--icon-arrow-small-right">Hydra VR</span>
								<span>Deploy</span>
							</div>
						</div>

					</div>
				</div>

				<div class="outer__button-prev swiper-button-prev outer__button-prev--position"></div>
				<div class="outer__button-next swiper-button-next outer__button-next--position"></div>

			</div>
		</div>
	</section>

	<section class="page__hydra hydra">
		<div class="hydra__container">
			<div class="hydra__body">
				<h2 class="hydra__title title">
					<strong class="title__strong title__strong--after">JOIN HYDRA</strong>
					<span class="title__span title__span--uppnon">Let’s Build <span>Your VR Experience</span></span>
				</h2>
				<form class="hydra__form form" action="#">
					<div class="form__fields">
						<div class="form__line1">
							<input class="form__input" type="text" name="firstname" placeholder="First Name" required>
						</div>
						<div class="form__line2">
							<input class="form__input" type="text" name="lastname" placeholder="Last Name" required>
						</div>
						<div class="form__line3">
							<input class="form__input" type="email" name="email" placeholder="Email" required>
						</div>
						<div class="form__line4">
							<input class="form__input" type="tel" name="phone" placeholder="Phone Number" required>
						</div>
						<div class="form__line5">
							<input class="form__input" type="text" name="subject" placeholder="Subject" required>
						</div>
						<div class="form__line6">
							<textarea class="form__textarea" name="message" placeholder="Tell Us Something..."
								autocomplete="off"></textarea>
						</div>
					</div>
					<button class="form__button button button--maxi" type="submit">SEND TO HYDRA</button>
				</form>
			</div>
		</div>
	</section>

</main>