.index {
    // .index__hero
    &__hero {
    }
    // .index__about
    &__about {
    }
    // .index__services
    &__services {
    }
}
.hero {
    @include adaptiveValue("padding-block", 50, 30);
    // .hero__container
    &__container {
        display: grid;
        grid-template-columns: minmax(260px, 0.3fr) minmax(0, 0.7fr);
        @include adaptiveValue("gap", 30, 15);

        @media (width < toEm($tablet)) {
            grid-template-columns: 1fr;
        }
    }
    // .hero__content
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include adaptiveValue("gap", 25, 15);
    }
    // .hero__label
    &__label {
        font-family: var(--font-family-title);
    }
    // .hero__title
    &__title {
        @include adaptiveValue("font-size", 35, 25);
        font-family: var(--font-family-title);
        line-height: 1.2;
    }
    // .hero__text
    &__text {
    }
    // .hero__button
    &__button {
        align-self: flex-start;
    }
    // .hero__picture
    &__picture {
        // flex: 1 0 70%;
        aspect-ratio: 1200 / 532;
        overflow: hidden;
    }
    // .hero__image
    &__image {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }
}
.button {
    padding: 10px 25px;
    border-radius: 50px;
    background-color: var(--color-text-muted);
    color: white;
    transition: background-color 0.3s;
    html:not([data-fls-touch]) & {
        @media (any-hover: hover), (pointer: fine) {
            &:hover {
                background-color: var(--color-accent);
            }
        }
    }
}

/* ------------------------------ */

.about {
    @include adaptiveValue("padding-block", 50, 30);
    // .about__container
    &__container {
        @media (width >= toEm($mobile)) {
            display: flex;
            @include adaptiveValue("gap", 60, 15);
        }
    }
    // .about__content
    &__content {
        min-width: 0;
        flex: 1 1 50%;
        display: flex;
        flex-direction: column;
        @include adaptiveValue("gap", 20, 15);
        @media (width < toEm($mobile)) {
            margin-bottom: 30px;
        }
    }
    // .about__label
    &__label {
    }
    // .about__title
    &__title {
    }
    // .about__text
    &__text {
    }
    // .about__facts
    &__facts {
        position: relative;
        min-width: 0;
        flex: 1 1 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include adaptiveValue("gap", 50, 20);
        @include adaptiveValue("padding-left", 50, 15);
        &::after {
            content: "";
            width: 1px;
            height: 100%;
            background-color: var(--color-border);
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
    // .about__fact
    &__fact {
        font-weight: 500;
    }
}

.label {
    position: relative;
    width: fit-content;
    font-family: var(--font-family-title);
    line-height: 1;
    &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 1px;
        bottom: -2px;
        left: 50%;
        background-color: var(--color-accent);
        transform: translateX(-50%);
        transition: all 0.3s ease;
    }
    html:not([data-fls-touch]) & {
        @media (any-hover: hover), (pointer: fine) {
            &:hover {
                color: var(--color-accent);
                &::after {
                    width: 100%;
                }
            }
        }
    }
}
.title {
    @include adaptiveValue("font-size", 30, 20);
    font-family: var(--font-family-title);
    line-height: 1.2;
}

/* ------------------------------ */

.services {
    @include adaptiveValue("padding-block", 50, 30);
    // .services__container
    &__container {
        display: flex;
        flex-direction: column;
        @include adaptiveValue("gap", 50, 30);
    }
    // .services__intro
    &__intro {
        display: flex;
        flex-direction: column;
        @include adaptiveValue("gap", 20, 15);
    }
    // .services__label
    &__label {
    }
    // .services__title
    &__title {
    }
    // .services__text
    &__text {
        max-width: 60%;
        @media (width < toEm($mobile)) {
            max-width: 100%;
        }
    }
    // .services__top
    &__top {
    }
    // .services__footer
    &__footer {
    }
}
.top-services {
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    gap: 20px;

    @media (width < toEm($tablet)) {
        grid-template-columns: minmax(0, 1fr) 320px;
    }
    @media (width < toEm($mobile)) {
        grid-template-columns: 1fr;
    }

    // .top-services__content
    &__content {
        display: flex;
        flex-direction: column;
        gap: 40px;

        @media (width < toEm($tablet)) {
            gap: 20px;
        }
    }
    // .top-services__item
    &__item {
        p {
            line-height: 1.3;
        }
    }
    // .top-services__subtitle
    &__subtitle {
        @include adaptiveValue("font-size", 26, 18);
        font-family: var(--font-family-title);
    }
    // .top-services__media
    &__media {
        aspect-ratio: 4 / 3;
        overflow: hidden;
    }
    // .top-services__image
    &__image {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }
}
.footer-services {
    // .footer-services__items
    &__items {
        display: flex;
        @include adaptiveValue("gap", 40, 20);
        @media (width < toEm($mobile)) {
            flex-direction: column;
        }
    }
    // .footer-services__item
    &__item {
        flex: 1 1 0;
        p {
            line-height: 1.3;
        }
    }
    // .footer-services__subtitle
    &__subtitle {
        @include adaptiveValue("font-size", 24, 18);
        font-family: var(--font-family-title);
    }
}
