.catalog {
	@include adaptiveValue("padding-bottom", 80, 30);
	// .catalog__container
	&__container {
	}
	// .catalog__form
	&__form {
		// overflow: clip;
	}
	// .catalog__filter
	&__filter {
		@media (min-width: toEm($mobile)) {
			flex-basis: 336px;
			padding-right: 24px;
			transition: margin-left 0.3s;
			&.filter--active {
				margin-left: 0;
			}
		}
		@media (max-width: toEm($mobile)) {
			display: none;
			padding-top: 15px;
			&.filter--active {
				display: block;
			}
		}
		@media ((max-width: toEm($tablet)) and (min-width: toEm($mobile))) {
			margin-left: -336px;
		}
	}
	// .catalog__body
	&__body {
		display: flex;
		align-items: flex-start;
		position: relative;
		@media (max-width: toEm($mobile)) {
			display: block;
		}
	}
	// .catalog__content
	&__content {
		flex-grow: 1;
	}
	// .catalog__items
	&__items {
		gap: 24px;
		@include adaptiveValue("margin-bottom", 40, 25);
	}
}

.header-catalog {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px 20px;
	min-height: 46px;

	&:not(:last-child) {
		margin-bottom: 22px;
	}
	@media (max-width: toEm($mobile)) {
		display: block;
	}
	// .header-catalog__filter
	&__filter {
		transition: all 0.3s;
		flex-basis: 312px;

		@media (min-width: toEm($tablet)) {
			visibility: hidden;
			margin-left: -332px;
		}
	}
	// .header-catalog__button
	&__button {
		@media (max-width: toEm($mobile)) {
			width: 100%;
		}
	}
	// .header-catalog__body
	&__body {
		flex-grow: 1;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 10px 20px;
		justify-content: space-between;

		@media (max-width: toEm($mobile)) {
			margin-bottom: 20px;
		}
	}
	// .header-catalog__sort
	&__sort {
	}
	// .header-catalog__result
	&__result {
		@include typography("M");
		color: $grey6;
		span {
			color: $grey9;
			font-weight: 600;
		}
	}
}
.button.header-catalog__button.active {
	background-color: $successDark;
}

.sort-catalog {
	display: flex;
	align-items: center;
	@include typography("S");
	gap: 8px;
	@media (max-width: toEm($mobileSmall)) {
		flex-grow: 1;
	}
	// .sort-catalog__label
	&__label {
		color: $grey5;
	}
	// .sort-catalog__body
	&__body {
		position: relative;
		flex: 0 0 166px;

		&::before {
			position: absolute;
			right: 16px;
			top: 50%;
			z-index: 2;
			translate: 0 -50%;
			font-size: 8px;
			pointer-events: none;
		}
		@media (max-width: toEm($mobileSmall)) {
			flex-grow: 1;
		}
	}
	// .sort-catalog__select
	&__select {
		padding-right: 40px;
		appearance: none;
		border-radius: 4px;
		height: 41px;
		color: $grey7;
		padding-left: 16px;
		border: 1px solid $grey1;
		width: 100%;
	}
	// .sort-catalog__item
	&__item {
	}
}

.sale-banner-filter {
	position: relative;
	aspect-ratio: 1;
	display: block;
	// .sale-banner-filter__body
	&__body {
		padding: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 2;
		> * {
			margin-bottom: 2px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	// .sale-banner-filter__title
	&__title {
		@include typography("XXL");
		color: $grey9;
		span {
			@include typography("h5", 600);
			color: $warning;
		}
	}
	// .sale-banner-filter__text
	&__text {
		@include typography("M");
		color: $grey7;
		margin-bottom: 12px;
	}
	// .sale-banner-filter__link
	&__link {
	}
	// .sale-banner-filter__image
	&__image {
		border-radius: 10px;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
		object-position: bottom;
	}
}

.sale-products-filter {
	@media (max-width: toEm($mobile)) {
		margin-bottom: 20px;
	}
	// .sale-products-filter__title
	&__title {
		@include typography("XL", 500);
		color: $grey9;
		margin-bottom: 12px;
	}
	// .sale-products-filter__items
	&__items {
		display: grid;
		gap: 16px;
	}
}
