<script type="module" src="@components/pages/catalog/catalog.js"></script>
<link rel="stylesheet" href="@components/pages/catalog/catalog.scss">

<include src="@components/custom/breadcrumbs/breadcrumbs.html"></include>

<main class="catalog">
   <div class="catalog__container">
      <form action="#" class="catalog__form">
         <div class="catalog__header header-catalog">
            <div class="header-catalog__filter">
               <button type="button" class="header-catalog__button button button--middle button--filter">Filter</button>
            </div>
            <div class="header-catalog__body">
               <div class="header-catalog__sort sort-catalog">
                  <label class="sort-catalog__label">Sort by:</label>
                  <div class="sort-catalog__body sort-catalog__body--icon-shevron">
                     <select name="form[sort]" class="sort-catalog__select">
                        <option class="sort-catalog__item">Latest</option>
                        <option class="sort-catalog__item">Newest</option>
                     </select>
                  </div>
               </div>
               <div class="header-catalog__result"><span>52</span> Results Found</div>
            </div>
         </div>
         <div class="catalog__body">
            <aside class="catalog__filter filter">
               <div class="filter__body">
                  <details open class="filter__item item-filter">
                     <summary class="item-filter__header">All Categories</summary>
                     <div class="item-filter__body">
                        <div class="item-filter__categories categories-filter">
                           <label class="categories-filter__item">
                              <input class="categories-filter__input" type="radio" name="form[category]">
                              <span class="categories-filter__text">Fresh Fruit <span>(25)</span></span>
                           </label>
                           <label class="categories-filter__item">
                              <input class="categories-filter__input" type="radio" name="form[category]">
                              <span class="categories-filter__text">Vegetables <span>(150)</span></span>
                           </label>
                           <label class="categories-filter__item">
                              <input class="categories-filter__input" type="radio" name="form[category]">
                              <span class="categories-filter__text">Cooking <span>(85)</span></span>
                           </label>
                           <label class="categories-filter__item">
                              <input class="categories-filter__input" type="radio" name="form[category]">
                              <span class="categories-filter__text">Snacks <span>(15)</span></span>
                           </label>
                           <label class="categories-filter__item">
                              <input class="categories-filter__input" type="radio" name="form[category]">
                              <span class="categories-filter__text">Beverages <span>(15)</span></span>
                           </label>
                           <label class="categories-filter__item">
                              <input class="categories-filter__input" type="radio" name="form[category]">
                              <span class="categories-filter__text">Beauty & Health <span>(15)</span></span>
                           </label>
                           <label class="categories-filter__item">
                              <input class="categories-filter__input" type="radio" name="form[category]">
                              <span class="categories-filter__text">Bread & Bakery <span>(15)</span></span>
                           </label>
                        </div>
                     </div>
                  </details>
                  <details open class="filter__item item-filter">
                     <summary class="item-filter__header">Price</summary>
                     <div class="item-filter__body">
                        <div class="item-filter__price price-filter">
                           <div class="price-filter__slider"></div>
                           <div class="price-filter__info">
                              <div class="price-filter__label">Price:</div>
                              <div class="price-filter__value"></div>
                              <input type="hidden" name="form[price-from]" class="price-filter__from">
                              <input type="hidden" name="form[price-to]" class="price-filter__to">
                           </div>
                        </div>
                     </div>
                  </details>
                  <details open class="filter__item item-filter">
                     <summary class="item-filter__header">Rating</summary>
                     <div class="item-filter__body">
                        <div class="item-filter__rating rating-filter">
                           <label class="rating-filter__item">
                              <input class="rating-filter__input" type="checkbox" name="form[rating-5]">
                              <div class="rating-filter__label">
                                 <div class="rating-filter__body">
                                    <div class="rating-filter__items">
                                       <div class="rating-filter__star rating-filter__star--active"></div>
                                       <div class="rating-filter__star"></div>
                                       <div class="rating-filter__star"></div>
                                       <div class="rating-filter__star"></div>
                                       <div class="rating-filter__star"></div>
                                    </div>
                                    <div class="rating-filter__value">5.0</div>
                                 </div>
                              </div>
                           </label>
                           <label class="rating-filter__item">
                              <input class="rating-filter__input" type="checkbox" name="form[rating-5]">
                              <div class="rating-filter__label">
                                 <div class="rating-filter__body">
                                    <div class="rating-filter__items">
                                       <div class="rating-filter__star"></div>
                                       <div class="rating-filter__star rating-filter__star--active"></div>
                                       <div class="rating-filter__star"></div>
                                       <div class="rating-filter__star"></div>
                                       <div class="rating-filter__star"></div>
                                    </div>
                                    <div class="rating-filter__value">4.0 & up</div>
                                 </div>
                              </div>
                           </label>
                           <label class="rating-filter__item">
                              <input class="rating-filter__input" type="checkbox" name="form[rating-5]">
                              <div class="rating-filter__label">
                                 <div class="rating-filter__body">
                                    <div class="rating-filter__items">
                                       <div class="rating-filter__star"></div>
                                       <div class="rating-filter__star"></div>
                                       <div class="rating-filter__star rating-filter__star--active"></div>
                                       <div class="rating-filter__star"></div>
                                       <div class="rating-filter__star"></div>
                                    </div>
                                    <div class="rating-filter__value">3.0 & up</div>
                                 </div>
                              </div>
                           </label>
                           <label class="rating-filter__item">
                              <input class="rating-filter__input" type="checkbox" name="form[rating-5]">
                              <div class="rating-filter__label">
                                 <div class="rating-filter__body">
                                    <div class="rating-filter__items">
                                       <div class="rating-filter__star"></div>
                                       <div class="rating-filter__star"></div>
                                       <div class="rating-filter__star"></div>
                                       <div class="rating-filter__star rating-filter__star--active"></div>
                                       <div class="rating-filter__star"></div>
                                    </div>
                                    <div class="rating-filter__value">2.0 & up</div>
                                 </div>
                              </div>
                           </label>
                           <label class="rating-filter__item">
                              <input class="rating-filter__input" type="checkbox" name="form[rating-5]">
                              <div class="rating-filter__label">
                                 <div class="rating-filter__body">
                                    <div class="rating-filter__items">
                                       <div class="rating-filter__star"></div>
                                       <div class="rating-filter__star"></div>
                                       <div class="rating-filter__star"></div>
                                       <div class="rating-filter__star "></div>
                                       <div class="rating-filter__star rating-filter__star--active"></div>
                                    </div>
                                    <div class="rating-filter__value">1.0 & up</div>
                                 </div>
                              </div>
                           </label>
                        </div>
                     </div>
                  </details>
                  <details open class="filter__item item-filter">
                     <summary class="item-filter__header">Popular Tag</summary>
                     <div class="item-filter__body">
                        <div class="item-filter__tags tags-filter">
                           <label class="tags-filter__item">
                              <input class="tags-filter__input" name="form[tags]" type="checkbox">
                              <span class="tags-filter__text">Healthy</span>
                           </label>
                           <label class="tags-filter__item">
                              <input class="tags-filter__input" name="form[tags]" type="checkbox">
                              <span class="tags-filter__text">Low fat</span>
                           </label>
                           <label class="tags-filter__item">
                              <input class="tags-filter__input" name="form[tags]" type="checkbox">
                              <span class="tags-filter__text">Vegetarian</span>
                           </label>
                           <label class="tags-filter__item">
                              <input class="tags-filter__input" name="form[tags]" type="checkbox">
                              <span class="tags-filter__text">Kid foods</span>
                           </label>
                           <label class="tags-filter__item">
                              <input class="tags-filter__input" name="form[tags]" type="checkbox">
                              <span class="tags-filter__text">Vitamins</span>
                           </label>
                           <label class="tags-filter__item">
                              <input class="tags-filter__input" name="form[tags]" type="checkbox">
                              <span class="tags-filter__text">Bread</span>
                           </label>
                           <label class="tags-filter__item">
                              <input class="tags-filter__input" name="form[tags]" type="checkbox">
                              <span class="tags-filter__text">Meat</span>
                           </label>
                        </div>
                     </div>
                  </details>
               </div>
               <a href="#" class="filter__sale-banner sale-banner-filter">
                  <div class="sale-banner-filter__body">
                     <div class="sale-banner-filter__title">
                        <span>79%</span> Discount
                     </div>
                     <div class="sale-banner-filter__text">
                        <p>on your first order</p>
                     </div>
                     <div class="sale-banner-filter__link link-arrow link-arrow--icon-arrow">Shop Now</div>
                  </div>
                  <img src="img/banners/banner-02.jpg" class="sale-banner-filter__image" alt="Image">
               </a>
               <div class="filter__sale-products sale-products-filter">
                  <h4 class="sale-products-filter__title">Sale Products</h4>
                  <div class="sale-products-filter__items">
                     <article class="sale-products-filter__item item-products item-products--mini">
                        <a href="#" class="item-products__picture">
                           <img src="img/products/01.jpg" class="item-products__image" alt="Image">
                        </a>
                        <div class="item-products__body">
                           <div class="item-products__content">
                              <h3 class="item-products__title">
                                 <a href="#" class="item-products__link-title">Green Apple</a>
                              </h3>
                              <div class="item-products__prices">
                                 <div class="item-products__current">$14.99</div>
                                 <div class="item-products__old">$20.99</div>
                              </div>
                              <form action="#" class="item-products__rating rating">
                                 <div class="rating__items">
                                    <input disabled type="radio" value="5" name="rating" class="rating__item">
                                    <input disabled type="radio" value="4" name="rating" class="rating__item">
                                    <input disabled checked type="radio" value="3" name="rating" class="rating__item">
                                    <input disabled type="radio" value="2" name="rating" class="rating__item">
                                    <input disabled type="radio" value="1" name="rating" class="rating__item">
                                 </div>
                              </form>
                           </div>
                        </div>
                     </article>
                     <article class="sale-products-filter__item item-products item-products--mini">
                        <a href="#" class="item-products__picture">
                           <img src="img/products/02.jpg" class="item-products__image" alt="Image">
                        </a>
                        <div class="item-products__body">
                           <div class="item-products__content">
                              <h3 class="item-products__title">
                                 <a href="#" class="item-products__link-title">Green Apple</a>
                              </h3>
                              <div class="item-products__prices">
                                 <div class="item-products__current">$14.99</div>
                                 <div class="item-products__old">$20.99</div>
                              </div>
                              <form action="#" class="item-products__rating rating">
                                 <div class="rating__items">
                                    <input disabled type="radio" value="5" name="rating" class="rating__item">
                                    <input disabled type="radio" value="4" name="rating" class="rating__item">
                                    <input disabled checked type="radio" value="3" name="rating" class="rating__item">
                                    <input disabled type="radio" value="2" name="rating" class="rating__item">
                                    <input disabled type="radio" value="1" name="rating" class="rating__item">
                                 </div>
                              </form>
                           </div>
                        </div>
                     </article>
                     <article class="sale-products-filter__item item-products item-products--mini">
                        <a href="#" class="item-products__picture">
                           <img src="img/products/03.jpg" class="item-products__image" alt="Image">
                        </a>
                        <div class="item-products__body">
                           <div class="item-products__content">
                              <h3 class="item-products__title">
                                 <a href="#" class="item-products__link-title">Green Apple</a>
                              </h3>
                              <div class="item-products__prices">
                                 <div class="item-products__current">$14.99</div>
                                 <div class="item-products__old">$20.99</div>
                              </div>
                              <form action="#" class="item-products__rating rating">
                                 <div class="rating__items">
                                    <input disabled type="radio" value="5" name="rating" class="rating__item">
                                    <input disabled type="radio" value="4" name="rating" class="rating__item">
                                    <input disabled checked type="radio" value="3" name="rating" class="rating__item">
                                    <input disabled type="radio" value="2" name="rating" class="rating__item">
                                    <input disabled type="radio" value="1" name="rating" class="rating__item">
                                 </div>
                              </form>
                           </div>
                        </div>
                     </article>
                  </div>
               </div>
            </aside>
            <div class="catalog__content">
               <div class="catalog__items products" data-fls-addtocart>
                  <article class="products__item item-products" data-fls-products data-fls-addtocart-product>
                     <div class="item-products__labels"> </div>
                     <div class="item-products__actions">
                        <a href="#" class="item-products__action item-products__action--icon-favorite"></a>
                        <a href="#" class="item-products__action item-products__action--icon-eye"></a>
                     </div>
                     <a href="#" class="item-products__picture">
                        <img src="@img/products/potatoes.jpg" class="item-products__image" alt="Image"
                           data-fls-addtocart-image>
                     </a>
                     <div class="item-products__body">
                        <div class="item-products__content">
                           <h3 class="item-products__title">
                              <a href="#" class="item-products__link-title">Green Apple</a>
                           </h3>
                           <div class="item-products__prices">
                              <div class="item-products__current">$14.99</div>
                              <div class="item-products__old"></div>
                           </div>
                           <form data-fls-rating="set" data-fls-rating-value="4" action="#"
                              class="item-products__rating rating">
                           </form>
                        </div>
                        <button type="button" data-fls-addtocart-button
                           class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
                     </div>
                  </article>
                  <article class="products__item item-products" data-fls-products data-fls-addtocart-product>
                     <div class="item-products__labels"></div>
                     <div class="item-products__actions">
                        <a href="#" class="item-products__action item-products__action--icon-favorite"></a>
                        <a href="#" class="item-products__action item-products__action--icon-eye"></a>
                     </div>
                     <a href="#" class="item-products__picture">
                        <img src="@img/products/cabbage.jpg" class="item-products__image" alt="Image"
                           data-fls-addtocart-image>
                     </a>
                     <div class="item-products__body">
                        <div class="item-products__content">
                           <h3 class="item-products__title">
                              <a href="#" class="item-products__link-title">Green Apple</a>
                           </h3>
                           <div class="item-products__prices">
                              <div class="item-products__current">$14.99</div>
                              <div class="item-products__old"></div>
                           </div>
                           <form data-fls-rating="set" data-fls-rating-value="4" action="#"
                              class="item-products__rating rating">
                           </form>
                        </div>
                        <button type="button" data-fls-addtocart-button
                           class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
                     </div>
                  </article>
                  <article class="products__item item-products" data-fls-products data-fls-addtocart-product>
                     <div class="item-products__labels">
                        <span class="item-products__label item-products__label--out">Out of Stock</span>
                     </div>
                     <div class="item-products__actions">
                        <a href="#" class="item-products__action item-products__action--icon-favorite"></a>
                        <a href="#" class="item-products__action item-products__action--icon-eye"></a>
                     </div>
                     <a href="#" class="item-products__picture">
                        <img src="@img/products/corn.jpg" class="item-products__image" alt="Image"
                           data-fls-addtocart-image>
                     </a>
                     <div class="item-products__body">
                        <div class="item-products__content">
                           <h3 class="item-products__title">
                              <a href="#" class="item-products__link-title">Green Apple</a>
                           </h3>
                           <div class="item-products__prices">
                              <div class="item-products__current">$14.99</div>
                              <div class="item-products__old">$20.99</div>
                           </div>
                           <form data-fls-rating="set" data-fls-rating-value="4" action="#"
                              class="item-products__rating rating">
                           </form>
                        </div>
                        <button type="button" data-fls-addtocart-button
                           class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
                     </div>
                  </article>
                  <article class="products__item item-products" data-fls-products data-fls-addtocart-product>
                     <div class="item-products__labels"></div>
                     <div class="item-products__actions">
                        <a href="#" class="item-products__action item-products__action--icon-favorite"></a>
                        <a href="#" class="item-products__action item-products__action--icon-eye"></a>
                     </div>
                     <a href="#" class="item-products__picture">
                        <img src="@img/products/eggplant.jpg" class="item-products__image" alt="Image"
                           data-fls-addtocart-image>
                     </a>
                     <div class="item-products__body">
                        <div class="item-products__content">
                           <h3 class="item-products__title">
                              <a href="#" class="item-products__link-title">Green Apple</a>
                           </h3>
                           <div class="item-products__prices">
                              <div class="item-products__current">$14.99</div>
                              <div class="item-products__old"></div>
                           </div>
                           <form data-fls-rating="set" data-fls-rating-value="4" action="#"
                              class="item-products__rating rating">
                           </form>
                        </div>
                        <button type="button" data-fls-addtocart-button
                           class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
                     </div>
                  </article>
                  <article class="products__item item-products" data-fls-products data-fls-addtocart-product>
                     <div class="item-products__labels"></div>
                     <div class="item-products__actions">
                        <a href="#" class="item-products__action item-products__action--icon-favorite"></a>
                        <a href="#" class="item-products__action item-products__action--icon-eye"></a>
                     </div>
                     <a href="#" class="item-products__picture">
                        <img src="@img/products/cauliflower.jpg" class="item-products__image" alt="Image"
                           data-fls-addtocart-image>
                     </a>
                     <div class="item-products__body">
                        <div class="item-products__content">
                           <h3 class="item-products__title">
                              <a href="#" class="item-products__link-title">Green Apple</a>
                           </h3>
                           <div class="item-products__prices">
                              <div class="item-products__current">$14.99</div>
                              <div class="item-products__old"></div>
                           </div>
                           <form data-fls-rating="set" data-fls-rating-value="4" action="#"
                              class="item-products__rating rating">
                              <div class="rating__items">
                           </form>
                        </div>
                        <button type="button" data-fls-addtocart-button
                           class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
                     </div>
                  </article>
                  <article class="products__item item-products" data-fls-products data-fls-addtocart-product>
                     <div class="item-products__labels"></div>
                     <div class="item-products__actions">
                        <a href="#" class="item-products__action item-products__action--icon-favorite"></a>
                        <a href="#" class="item-products__action item-products__action--icon-eye"></a>
                     </div>
                     <a href="#" class="item-products__picture">
                        <img src="@img/products/apple.jpg" class="item-products__image" alt="Image"
                           data-fls-addtocart-image>
                     </a>
                     <div class="item-products__body">
                        <div class="item-products__content">
                           <h3 class="item-products__title">
                              <a href="#" class="item-products__link-title">Green Apple</a>
                           </h3>
                           <div class="item-products__prices">
                              <div class="item-products__current">$14.99</div>
                              <div class="item-products__old"></div>
                           </div>
                           <form data-fls-rating="set" data-fls-rating-value="4" action="#"
                              class="item-products__rating rating">
                           </form>
                        </div>
                        <button type="button" data-fls-addtocart-button
                           class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
                     </div>
                  </article>
                  <article class="products__item item-products" data-fls-products data-fls-addtocart-product>
                     <div class="item-products__labels"></div>
                     <div class="item-products__actions">
                        <a href="#" class="item-products__action item-products__action--icon-favorite"></a>
                        <a href="#" class="item-products__action item-products__action--icon-eye"></a>
                     </div>
                     <a href="#" class="item-products__picture">
                        <img src="@img/products/green-capsicum.jpg" class="item-products__image" alt="Image"
                           data-fls-addtocart-image>
                     </a>
                     <div class="item-products__body">
                        <div class="item-products__content">
                           <h3 class="item-products__title">
                              <a href="#" class="item-products__link-title">Green Apple</a>
                           </h3>
                           <div class="item-products__prices">
                              <div class="item-products__current">$14.99</div>
                              <div class="item-products__old"></div>
                           </div>
                           <form data-fls-rating="set" data-fls-rating-value="4" action="#"
                              class="item-products__rating rating">
                           </form>
                        </div>
                        <button type="button" data-fls-addtocart-button
                           class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
                     </div>
                  </article>
                  <article class="products__item item-products" data-fls-products data-fls-addtocart-product>
                     <div class="item-products__labels"></div>
                     <div class="item-products__actions">
                        <a href="#" class="item-products__action item-products__action--icon-favorite"></a>
                        <a href="#" class="item-products__action item-products__action--icon-eye"></a>
                     </div>
                     <a href="#" class="item-products__picture">
                        <img src="@img/products/green-chili.jpg" class="item-products__image" alt="Image"
                           data-fls-addtocart-image>
                     </a>
                     <div class="item-products__body">
                        <div class="item-products__content">
                           <h3 class="item-products__title">
                              <a href="#" class="item-products__link-title">Green Apple</a>
                           </h3>
                           <div class="item-products__prices">
                              <div class="item-products__current">$14.99</div>
                              <div class="item-products__old"></div>
                           </div>
                           <form data-fls-rating="set" data-fls-rating-value="4" action="#"
                              class="item-products__rating rating">
                           </form>
                        </div>
                        <button type="button" data-fls-addtocart-button
                           class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
                     </div>
                  </article>
                  <article class="products__item item-products" data-fls-products data-fls-addtocart-product>
                     <div class="item-products__labels">
                        <a href="#" class="item-products__label item-products__label--sale">Sale <span>50%</span></a>
                     </div>
                     <div class="item-products__actions">
                        <a href="#" class="item-products__action item-products__action--icon-favorite"></a>
                        <a href="#" class="item-products__action item-products__action--icon-eye"></a>
                     </div>
                     <a href="#" class="item-products__picture">
                        <img src="@img/products/green-cucumber.jpg" class="item-products__image" alt="Image"
                           data-fls-addtocart-image>
                     </a>
                     <div class="item-products__body">
                        <div class="item-products__content">
                           <h3 class="item-products__title">
                              <a href="#" class="item-products__link-title">Green Apple</a>
                           </h3>
                           <div class="item-products__prices">
                              <div class="item-products__current">$14.99</div>
                              <div class="item-products__old"></div>
                           </div>
                           <form data-fls-rating="set" data-fls-rating-value="4" action="#"
                              class="item-products__rating rating">
                           </form>
                        </div>
                        <button type="button" data-fls-addtocart-button
                           class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
                     </div>
                  </article>
                  <article class="products__item item-products" data-fls-products data-fls-addtocart-product>
                     <div class="item-products__labels"></div>
                     <div class="item-products__actions">
                        <a href="#" class="item-products__action item-products__action--icon-favorite"></a>
                        <a href="#" class="item-products__action item-products__action--icon-eye"></a>
                     </div>
                     <a href="#" class="item-products__picture">
                        <img src="@img/products/lettuce.jpg" class="item-products__image" alt="Image"
                           data-fls-addtocart-image>
                     </a>
                     <div class="item-products__body">
                        <div class="item-products__content">
                           <h3 class="item-products__title">
                              <a href="#" class="item-products__link-title">Green Apple</a>
                           </h3>
                           <div class="item-products__prices">
                              <div class="item-products__current">$14.99</div>
                              <div class="item-products__old"></div>
                           </div>
                           <form data-fls-rating="set" data-fls-rating-value="4" action="#"
                              class="item-products__rating rating">
                           </form>
                        </div>
                        <button type="button" data-fls-addtocart-button
                           class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
                     </div>
                  </article>
                  <article class="products__item item-products" data-fls-products data-fls-addtocart-product>
                     <div class="item-products__labels"></div>
                     <div class="item-products__actions">
                        <a href="#" class="item-products__action item-products__action--icon-favorite"></a>
                        <a href="#" class="item-products__action item-products__action--icon-eye"></a>
                     </div>
                     <a href="#" class="item-products__picture">
                        <img src="@img/products/ladies-finger.jpg" class="item-products__image" alt="Image"
                           data-fls-addtocart-image>
                     </a>
                     <div class="item-products__body">
                        <div class="item-products__content">
                           <h3 class="item-products__title">
                              <a href="#" class="item-products__link-title">Green Apple</a>
                           </h3>
                           <div class="item-products__prices">
                              <div class="item-products__current">$14.99</div>
                              <div class="item-products__old"></div>
                           </div>
                           <form data-fls-rating="set" data-fls-rating-value="4" action="#"
                              class="item-products__rating rating">
                           </form>
                        </div>
                        <button type="button" data-fls-addtocart-button
                           class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
                     </div>
                  </article>
                  <article class="products__item item-products" data-fls-products data-fls-addtocart-product>
                     <div class="item-products__labels"></div>
                     <div class="item-products__actions">
                        <a href="#" class="item-products__action item-products__action--icon-favorite"></a>
                        <a href="#" class="item-products__action item-products__action--icon-eye"></a>
                     </div>
                     <a href="#" class="item-products__picture">
                        <img src="@img/products/red-capsicum.jpg" class="item-products__image" alt="Image"
                           data-fls-addtocart-image>
                     </a>
                     <div class="item-products__body">
                        <div class="item-products__content">
                           <h3 class="item-products__title">
                              <a href="#" class="item-products__link-title">Green Apple</a>
                           </h3>
                           <div class="item-products__prices">
                              <div class="item-products__current">$14.99</div>
                              <div class="item-products__old"></div>
                           </div>
                           <form data-fls-rating="set" data-fls-rating-value="4" action="#"
                              class="item-products__rating rating">
                           </form>
                        </div>
                        <button type="button" data-fls-addtocart-button
                           class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
                     </div>
                  </article>
                  <article class="products__item item-products" data-fls-products data-fls-addtocart-product>
                     <div class="item-products__labels"></div>
                     <div class="item-products__actions">
                        <a href="#" class="item-products__action item-products__action--icon-favorite"></a>
                        <a href="#" class="item-products__action item-products__action--icon-eye"></a>
                     </div>
                     <a href="#" class="item-products__picture">
                        <img src="@img/products/red-chili.jpg" class="item-products__image" alt="Image"
                           data-fls-addtocart-image>
                     </a>
                     <div class="item-products__body">
                        <div class="item-products__content">
                           <h3 class="item-products__title">
                              <a href="#" class="item-products__link-title">Green Apple</a>
                           </h3>
                           <div class="item-products__prices">
                              <div class="item-products__current">$14.99</div>
                              <div class="item-products__old"></div>
                           </div>
                           <form data-fls-rating="set" data-fls-rating-value="4" action="#"
                              class="item-products__rating rating">
                           </form>
                        </div>
                        <button type="button" data-fls-addtocart-button
                           class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
                     </div>
                  </article>
                  <article class="products__item item-products" data-fls-products data-fls-addtocart-product>
                     <div class="item-products__labels"></div>
                     <div class="item-products__actions">
                        <a href="#" class="item-products__action item-products__action--icon-favorite"></a>
                        <a href="#" class="item-products__action item-products__action--icon-eye"></a>
                     </div>
                     <a href="#" class="item-products__picture">
                        <img src="@img/products/red-tomatos.jpg" class="item-products__image" alt="Image"
                           data-fls-addtocart-image>
                     </a>
                     <div class="item-products__body">
                        <div class="item-products__content">
                           <h3 class="item-products__title">
                              <a href="#" class="item-products__link-title">Green Apple</a>
                           </h3>
                           <div class="item-products__prices">
                              <div class="item-products__current">$14.99</div>
                              <div class="item-products__old"></div>
                           </div>
                           <form data-fls-rating="set" data-fls-rating-value="4" action="#"
                              class="item-products__rating rating">
                           </form>
                        </div>
                        <button type="button" data-fls-addtocart-button
                           class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
                     </div>
                  </article>
                  <article class="products__item item-products" data-fls-products data-fls-addtocart-product>
                     <div class="item-products__labels"></div>
                     <div class="item-products__actions">
                        <a href="#" class="item-products__action item-products__action--icon-favorite"></a>
                        <a href="#" class="item-products__action item-products__action--icon-eye"></a>
                     </div>
                     <a href="#" class="item-products__picture">
                        <img src="@img/products/surjapur-mango.jpg" class="item-products__image" alt="Image"
                           data-fls-addtocart-image>
                     </a>
                     <div class="item-products__body">
                        <div class="item-products__content">
                           <h3 class="item-products__title">
                              <a href="#" class="item-products__link-title">Surjapur Mango</a>
                           </h3>
                           <div class="item-products__prices">
                              <div class="item-products__current">$14.99</div>
                              <div class="item-products__old"></div>
                           </div>
                           <form data-fls-rating="set" data-fls-rating-value="4" action="#"
                              class="item-products__rating rating">
                           </form>
                        </div>
                        <button type="button" data-fls-addtocart-button
                           class="item-products__add-to-cart add-to-cart add-to-cart--icon-cart"></button>
                     </div>
                  </article>
               </div>
               <ul class="catalog__pages pages">
                  <li class="pages__item">
                     <a href="#" class="pages__link pages__link--icon-shevron"></a>
                  </li>
                  <li class="pages__item">
                     <a href="#" class="pages__link pages__link--current">1</a>
                  </li>
                  <li class="pages__item">
                     <a href="#" class="pages__link">2</a>
                  </li>
                  <li class="pages__item">
                     <a href="#" class="pages__link">3</a>
                  </li>
                  <li class="pages__item">
                     <a href="#" class="pages__link">4</a>
                  </li>
                  <li class="pages__item">
                     <a href="#" class="pages__link">5</a>
                  </li>
                  <li class="pages__item">
                     <a href="#" class="pages__link">...</a>
                  </li>
                  <li class="pages__item">
                     <a href="#" class="pages__link">21</a>
                  </li>
                  <li class="pages__item">
                     <a href="#" class="pages__link pages__link--icon-shevron"></a>
                  </li>
               </ul>
            </div>
         </div>
      </form>
   </div>
</main>