<main data-fls-compare class="compare">
    <div class="compare__container">
        <h1 class="compare__title">Compare Resonance models</h1>
        <p class="compare__subtitle">Get help choosing. Chat with a Specialist.</p>
        <ul class="compare__list">
            <li class="compare__item">

                <article class="compare__card card">
                    <h2 class="card__title">Aura Pro II</h2>
                    <div class="card__picture">
                        <img src="@img/compare/headphones-green_1.webp" alt="Image">
                    </div>
                    <div class="card__pricing">Starting at $320</div>
                    <a href="#" class="card__button button">
                        <span class="button__text">Buy Now</span>
                    </a>
                </article>

                <ul class="compare__features">
                    <li class="compare__feature compare__feature--icon-cpu">R1 Chip</li>
                    <li class="compare__feature compare__feature--icon-speaker">2x more Active Noise Cancellation</li>
                    <li class="compare__feature compare__feature--icon-user-sound">Personalized Spatial Audio</li>
                    <li class="compare__feature compare__feature--icon-equalizer">Lossless Audio</li>
                    <li class="compare__feature compare__feature--icon-minus">None</li>
                    <li class="compare__feature compare__feature--icon-minus">None</li>
                    <li class="compare__feature compare__feature--icon-battery-charging">Up to 17 hours of listening
                    </li>
                    <li class="compare__feature compare__feature--icon-minus">None</li>
                    <li class="compare__feature compare__feature--icon-microphone">5 microphones total</li>
                </ul>

            </li>

            <li class="compare__item">

                <article class="compare__card card">
                    <h2 class="card__title">Flow II</h2>
                    <div class="card__picture">
                        <img src="@img/compare/headphones-green_2.webp" alt="Image">
                    </div>
                    <div class="card__pricing">Starting at $160</div>
                    <a href="#" class="card__button button">
                        <span class="button__text">Buy Now</span>
                    </a>
                </article>

                <ul class="compare__features">
                    <li class="compare__feature compare__feature--icon-cpu">R2 Chip</li>
                    <li class="compare__feature compare__feature--icon-speaker">Active Noise Cancellation</li>
                    <li class="compare__feature compare__feature--icon-user-sound">Personalized Spatial Audio</li>
                    <li class="compare__feature compare__feature--icon-minus">None</li>
                    <li class="compare__feature compare__feature--icon-ear">Hearing Test and Hearing Protection</li>
                    <li class="compare__feature compare__feature--icon-hand-tap">Touch sensor</li>
                    <li class="compare__feature compare__feature--icon-battery-charging">Up to 6 hours of listening</li>
                    <li class="compare__feature compare__feature--icon-drop">Water resistant</li>
                    <li class="compare__feature compare__feature--icon-microphone">Dual beamforming microphones</li>
                </ul>

            </li>
        </ul>
    </div>
</main>