<link rel="stylesheet" href="@components/custom/breadcrumbs/breadcrumbs.scss">

<aside class="breadcrumbs breadcrumbs--margin">
   <div class="breadcrumbs__container">
      <ul class="breadcrumbs__list">
         <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link breadcrumbs__link--icon-home"></a>
         </li>
         <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Categories</a>
         </li>
         <li class="breadcrumbs__item">
            <span class="breadcrumbs__current">Vegetables</span>
         </li>
      </ul>
   </div>
   <img src="@img/breadcrumbs/breadcrumbs.jpg" class="breadcrumbs__image" alt="Image">
</aside>