<link rel="stylesheet" href="@components/custom/breadcrumbs/breadcrumbs.scss">

<aside class="breadcrumbs breadcrumbs--margin" data-fls-breadcrumbs-scroll data-fls-breadcrumbs-showl>
   <div class="breadcrumbs__container">
      <ul class="breadcrumbs__list">
         <li class="breadcrumbs__item">
            <a href="index.html" class="breadcrumbs__link breadcrumbs__link--icon-home" aria-label="Home"></a>
         </li>

         <each loop='item in [[breadcrumbs]]'>
            <if condition="!item.last">
               <li class="breadcrumbs__item">
                  <a href="[[item.url]]" class="breadcrumbs__link">[[item.name]]</a>
               </li>
            </if>
            <if condition="item.last">
               <li class="breadcrumbs__item">
                  <span class="breadcrumbs__current">[[item.name]]</span>
               </li>
            </if>
         </each>
      </ul>
   </div>
   <img src="@img/breadcrumbs/breadcrumbs.jpg" class="breadcrumbs__image" alt="Image">
</aside>